<html>

<head>
    <script src="https://global.oktacdn.com/okta-signin-widget/5.16.0/js/okta-sign-in.min.js"
        type="text/javascript"></script>
    <link href="https://global.oktacdn.com/okta-signin-widget/5.16.0/css/okta-sign-in.min.css" type="text/css"
        rel="stylesheet">

    <!-- 
    <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/js/okta-sign-in.min.js" type="text/javascript"></script>
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet" />
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-theme.css" type="text/css" rel="stylesheet" />
     -->
</head>

<body>
    <div class="container">
        <div style="padding-bottom:1em;"></div>
        <!-- where the sign-in form will be displayed -->
        <div id="okta-login-container">
            <main data-se="auth-container" tabindex="-1" id="okta-sign-in"
                class="auth-container main-container no-beacon" style="display: block;">
                <div class="okta-sign-in-header auth-header">
                    <h1><img src="/assets/images/star-mark-80.png" class="auth-org-logo" alt=" logo"
                            aria-label=" logo"></h1>
                    <div data-type="beacon-container" class="beacon-container"></div>
                </div>
                <div class="auth-content">
                    <div class="auth-content-inner">
                        <div class="primary-auth">
                            <form novalidate="novalidate" method="POST" action="/eOffer/jsp/common/okta_login.jsp"
                                data-se="o-form" slot="content" id="form19"
                                class="primary-auth-form o-form o-form-edit-mode">
                                <div data-se="o-form-content" class="o-form-content o-form-theme clearfix">
                                    <h2 data-se="o-form-head" class="okta-form-title o-form-head">Sign In</h2>
                                    <div class="o-form-error-container" data-se="o-form-error-container"></div>
                                    <div class="o-form-fieldset-container" data-se="o-form-fieldset-container">
                                        <div data-se="o-form-fieldset"
                                            class="o-form-fieldset o-form-label-top margin-btm-5">
                                            <div data-se="o-form-label" class="okta-form-label o-form-label"><label
                                                    for="okta-signin-username">Email Address&nbsp;</label></div>
                                            <div data-se="o-form-input-container" class="o-form-input">
                                                <p class="o-form-explain">Please enter your FAS ID or Primary Email
                                                    Address</p><span data-se="o-form-input-username"
                                                    class="o-form-input-name-username o-form-control okta-form-input-field input-fix">
                                                    <input type="text" placeholder="" [formControl]="username" name="username" id="okta-signin-username" value="" aria-label="" autocomplete="username" aria-required="true" required="">
                                                    </span>
                                            </div>
                                        </div>
                                        <div data-se="o-form-fieldset"
                                            class="o-form-fieldset o-form-label-top margin-btm-30">
                                            <div data-se="o-form-label" class="okta-form-label o-form-label"><label
                                                    for="okta-signin-password">Password&nbsp;</label></div>
                                            <div data-se="o-form-input-container" class="o-form-input"><span
                                                    data-se="o-form-input-password"
                                                    class="o-form-input-name-password o-form-control okta-form-input-field input-fix">
                                                    
                                                    <input
                                                        type="password" placeholder="" name="password"
                                                        id="okta-signin-password" value="" aria-label=""
                                                        autocomplete="current-password" aria-required="true"
                                                        required=""></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="o-form-button-bar">
                                    {{ username.value }}
                                    <input class="button button-primary" type="button" (click)="signIn(username.value)" value="Next" id="okta-signin-submit"/>
                                        <!-- <a [routerLink]="['access-point']" class="button button-primary">Next</a> -->
                                    </div>
                            </form>
                            <div class="auth-footer">
                                <div style="padding-bottom:1em;"><a class="cancel-sign-in"
                                        href="https://eoffer-dev.fas.gsa.gov">Cancel sign in</a></div><a href="#"
                                    data-se="needhelp" aria-expanded="false" aria-controls="help-links-container"
                                    class="link help js-help">Need help signing in?</a>
                                <ul class="help-links js-help-links" id="help-links-container" style="display: none;">
                                    <li><a href="#" data-se="forgot-password"
                                            class="link js-forgot-password">Forgot/Reset Password?</a></li>
                                    <li><a href="https://eoffer.oktapreview.com/help/login" data-se="help-link"
                                            class="link js-help-link" rel="noopener noreferrer" target="_blank">Help</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="registration-container">
                                <div class="content-container"><span class="registration-label">Don't have an
                                        account?</span><a title="Sign up" aria-label="Sign up" class="registration-link"
                                        href="#">Sign up</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script type="text/javascript">
        var signInWidgetConfig = {
            logo: '/eOffer/stylesheet/star-mark-80.png',
            language: 'en',
            i18n: {
                'en': {
                    'primaryauth.username.placeholder': 'Email Address',
                    'primaryauth.username.tooltip': 'Please enter your FAS ID or Primary Email Address',
                    'primaryauth.title': 'Sign In',
                    'primaryauth.submit': 'Next',
                    'forgotpassword': 'Forgot/Reset Password?',
                    'errors.E0000004': 'Please enter valid credentials!'
                }
            },
            features: {
                registration: true,
                rememberMe: false,
            },
            baseUrl: 'https://eoffer.oktapreview.com',
        };

        var oktaSignIn = new OktaSignIn(signInWidgetConfig);
        oktaSignIn.renderEl({ el: '#okta-login-container' },
            function (res) {
                if (res.status === 'SUCCESS') {
                    res.session.setCookieAndRedirect('https://eoffer.oktapreview.com/app/eoffer_eofferdev1_1/exk9u8exz9vrl7JCA1d6/sso/saml');
                }
            });

        oktaSignIn.on('afterRender', function (context) {
            $('a.link.help.js-help').before('<div style="padding-bottom:1em;"><a class="cancel-sign-in" href="https://eoffer-dev.fas.gsa.gov">Cancel sign in</a></div>');
            $('a.registration-link').click(function (e) { window.location.href = 'https://eoffer-dev.fas.gsa.gov/eOffer/register.do'; });
        });

    </script>
</body>

</html>