<section class="bg-white px-0 py-2 m-0" >
    <div class="container-fluid px-0">    
      <div class="mx-auto">
        <div class="">
            <div class="container-fluid px-5">
            <div class="row">
              <div class="col-sm-12 col-lg text-center"> 
                <span class="gsa-medium-blue m-0 py-2 ">
                  FedBizOpps &nbsp;&nbsp;&bull;&nbsp;&nbsp; SAM &nbsp;&nbsp;&bull;&nbsp;&nbsp; GSA &nbsp;&nbsp;&bull;&nbsp;&nbsp; GSA Advantage! &nbsp;&nbsp;&bull;&nbsp;&nbsp; Accessibility Aids &nbsp;&nbsp;&bull;&nbsp;&nbsp; 1-866 472-9114 &nbsp;&nbsp;&bull;&nbsp;&nbsp; eoffer@gsa.gov         
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  