<div class="container-fluid pb-5 px-5  "> 
  <div class="view-control mx-auto">
    <h2 class="pt-5 pb-0 font-weight-bold">eOffer/eMod FAS ID Guidelines</h2> 
   
        <div>
         <p>Starting March 8, 2021, contractors must use FAS ID multi-factor authentication to access eOffer/eMod. For more information about the implementation of FAS ID for eOffer/eMod, please visit <a href="https://interact.gsa.gov/" class="external-link" target="_blank" rel="nofollow noopener">GSA Interact</a>.  </p>
         <h5>Who must Register to use FAS ID for eOffer/eMod?</h5>
         <p>Offerors/contractors that have not already registered for a FAS ID for another GSA application (FAS Sales Reporting Portal (SRP), GSA Advantage Purchase Order Portal, GSA Vendor Portal, the Mass Mod Portal, eBuy, etc.).</p>
         <div class="note-for">
            <p><b>Note for New Offerors:</b> please ensure that you are listed in SAM as one of the following points of contact:</p>
                  <ol class="alpha">
                    <li>Government Business POC</li>
                    <li>Electronic Business POC</li>
                                            <li>Government Business Alternate POC</li>
                    <li>Electronic Business Alternate POC</li>
                                            <li>Past Performance POC</li>
                    <li>Past Performance Alternate POC</li>
                    </ol>
                  <p><b>Note for Current Contractors: </b>please ensure that you are listed as an <i>authorized negotiator on the contract</i> (with or without signing authority).</p>
            </div>
        </div>
        <h5>Who does not need to register for a FAS ID to access eOffer/eMod?:</h5>
        <p>Offerors/contractors that are current eOffer/eMod users and use FAS ID for another application (FAS Sales Reporting Portal (SRP), GSA Advantage Purchase Order Portal, GSA Vendor Portal, the Mass Mod Portal, and eBuy). Your account will be validated based on you being an authorized negotiator on the contract. You do not need to register.</p>
  </div>
</div>