<app-form-card [sectionState]="sectionData" [sectionStatus]="sectionData.sectionStatus" *ngIf="sectionData.showSection">
    <ng-template #formCardActions>
        <ng-container [ngTemplateOutlet]="sectionActions"></ng-container>
    </ng-template>
    <ng-template #formCardBody>
        <ng-container [ngTemplateOutlet]="readonlySection"></ng-container>
    </ng-template>
</app-form-card>


<!-- Readonly Section -->
<ng-template #readonlySection>
    <form id="negotiators">

        <div class="col">
            <h2 class="h4 border-bottom mb-3" id="yournegs">Your Negotiator(s)</h2>
        </div>

        <div class="row">
            <div class="col-11">
                <div class="row">                               
                    <div class="col-md-4">
                        <dt class="col">Name:</dt>
                        <dd class="col mb-0">Luis Najera</dd>
                        <dt class="col">Title:</dt>
                        <dd class="col mb-0">Contract Manager</dd>
                    </div>
                    <div class="col-md-4">
                        <dt class="col">Role:</dt>
                        <dd class="col mb-0">Aurthorized to sign</dd>
                        <dt class="col">Email:</dt>
                        <dd class="col mb-0">luis.najera@gsa.gov</dd>
                    </div>
                    <div class="col-md-4">
                        <dt class="col">Phone:</dt>
                        <dd class="col mb-0">(999) 999-9999</dd>
                        <dt class="col">Fax:</dt>
                        <dd class="col mb-0">(999) 999-9999</dd>
                    </div>
                </div>
            </div>
            <div class="col-1" *ngIf="offerStatus == 'In Progress'">
                <button type="button" class="btn btn-default btn-sm text-muted bg-primary-hover" (click)="openModal()">
                    <span class="fa fa-pencil"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm text-muted bg-danger-hover">
                    <span class="fa fa-trash"></span>
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-11">
                <div class="row">                               
                    <div class="col-md-4">
                        <dt class="col">Name:</dt>
                        <dd class="col mb-0">Luis Najera</dd>
                        <dt class="col">Title:</dt>
                        <dd class="col mb-0">Contract Manager</dd>
                    </div>
                    <div class="col-md-4">
                        <dt class="col">Role:</dt>
                        <dd class="col mb-0">Aurthorized to sign</dd>
                        <dt class="col">Email:</dt>
                        <dd class="col mb-0">luis.najera@gsa.gov</dd>
                    </div>
                    <div class="col-md-4">
                        <dt class="col">Phone:</dt>
                        <dd class="col mb-0">(999) 999-9999</dd>
                        <dt class="col">Fax:</dt>
                        <dd class="col mb-0">(999) 999-9999</dd>
                    </div>
                </div>
            </div>
            <div class="col-1" *ngIf="offerStatus == 'In Progress'">
                <button type="button" class="btn btn-default btn-sm text-muted bg-primary-hover" (click)="openModal()">
                    <span class="fa fa-pencil"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm text-muted bg-danger-hover">
                    <span class="fa fa-trash"></span>
                </button>
            </div>
        </div>
        
        <hr>           
        <div class="col mt-4 d-flex justify-content-center" *ngIf="offerStatus == 'In Progress'"> 
            <button type="button" class="btn btn-light gsa-light-blue btn bg-primary-hover" (click)="openModal()">
                <span class="fa fa-plus mr-2"></span>
                Add Negotiator
            </button>
        </div>
    </form>
</ng-template>


<!-- Edit Section -->
<ng-template #editSection>
    <form id="negotiators">

        <div class="usa-alert usa-alert--warning mb-4">
            <div class="usa-alert__body">
                <p>
                    <b>Who will negotiate your eOffer?</b>
                </p>
                <p>
                    Offerors can add multiple negotiators. A minimum of one negotiator must have signature authority, but it is STRONGLY
                    recommended to have at least two valid Negotiators. Negotiators without signature authority may prepare the eOffer but
                    only negotiators with signature authority may submit the eOffer and sign the Contract. 
                </p>
            </div>
        </div>
        <div class="container">             
            <div class="row mb-3">
                <div class="col-md-3 d-flex justify-content-end">   
                    <label for="name">Name:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control col-md-8" id="name" name="name" aria-describedby="nameHelp"/>
                    <small id="nameHelp" class="form-text text-muted">
                        Negotiator's name should be exactly the same as in the FAS ID of that user.
                    </small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 d-flex justify-content-end">   
                    <label for="title">Title:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control col-md-8" id="title" name="title"/>
                </div>
            </div>              
            <div class="row mb-3">
                <div class="col-md-3 d-flex justify-content-end">   
                    <label for="role">Role:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control col-md-8" id="role" name="role"/>
                </div>
            </div>          
            <div class="row mb-3">
                <div class="col-md-3 d-flex justify-content-end">   
                    <label for="email">Email:</label>
                </div>
                <div class="col-md-9">
                    <input type="email" class="form-control col-md-6" id="email" name="email" aria-describedby="emailHelp"/>
                    <small id="emailHelp" class="form-text text-muted">
                        Negotiator's email should be exactly the same as in the FAS ID of that user.
                    </small>
                </div>
            </div>       
            <div class="row mb-3">
                <div class="col-md-3 d-flex justify-content-end">   
                    <label for="phone">Phone:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control col-md-4" id="phone" name="phone"/>
                </div>
            </div>              
            <div class="row mb-3">
                <div class="col-md-3 d-flex justify-content-end">   
                    <label for="fax" name="fax">Fax:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control col-md-4" id="fax" name="fax"/>
                </div>
            </div>
        </div>

    </form>
</ng-template>


<!-- Actions-->
<ng-template #sectionActions>

    <app-modal
        [config]="{ modalTitle: sectionData.name, showDefaultOpenButton: false, defaultOpenButtonLabel: 'Edit', showDefaultCloseButton: false, modalSize: 'xl' }">
        <ng-template #modalBody>
            <ng-container [ngTemplateOutlet]="editSection"></ng-container>
        </ng-template>
        <ng-template #modalFooter>
            <input type="button" value="Save" id="saveAndContinue" class="btn btn-success btn-lg"
                (click)="saveForm()">
            <input type="button" value="Cancel" id="cancel" class="btn btn-default btn-lg bg-danger-hover" (click)="closeModal()">
        </ng-template>
    </app-modal>

    <span *ngIf="offerStatus == 'Awarded'" class="btn-group" dropdown>
        <button id="button-manage" dropdownToggle type="button" class="btn btn-default btn-lg dropdown-toggle p-1 m-0"
            aria-controls="dropdown-manage">
            <span class="gsa-light-blue">Actions</span>
            <span class="caret"></span>
        </button>
        <ul id="dropdown-manage" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" (click)="openModal()">Create New Modification</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="openModHistoryModal()">View Modification History</a></li>
            <li role="menuitem"><a class="dropdown-item">Show Clarification History</a></li>
            <!-- <li role="menuitem"><a class="dropdown-item">Lookup Tables</a></li>  -->
        </ul>
    </span>

</ng-template>




<app-modal #modHistoryModal
[config]="{ modalTitle: 'Modifications', showDefaultOpenButton: false, defaultOpenButtonLabel: 'Edit', showDefaultCloseButton: false, modalSize: 'xl' }">
    <ng-template #modalBody>
        <ng-container [ngTemplateOutlet]="viewModHistory"></ng-container>
    </ng-template>
    <ng-template #modalFooter>
        <input type="button" value="Close" id="cancel" class="btn btn-default btn-lg bg-danger-hover" (click)="closeModHistoryModal()">
    </ng-template>
</app-modal>

<ng-template #viewModHistory>
    <h1>Mod History</h1>
</ng-template>