<div class="container-fluid">
    <div class="row">
        <div class="col px-0 py-3 mb-0 shadow bg-gsa-light-blue ">
            <div class="px-5">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <b>Company Name:&nbsp;&nbsp;</b>ABC Co.
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <b>Solicitaion Number:&nbsp;&nbsp;</b>47QSMD20R001 Refresh #45
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <!-- <b>Schedule:&nbsp;&nbsp;</b>MAS - Multiple Award Schedule -->
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <b>Schedule:&nbsp;&nbsp;</b>MAS - Multiple Award Schedule
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>