<style type="text/css">

	.swiper-container {
	    height: 100%;
	    min-height: 400px;
	    padding: 3rem 1rem;
	}
	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	    bottom: 0px;
	    left: 0;
	    width: 100%;
	}
</style>

<div class="container-fluid bg-white">
	<div class="px-lg-5">	
		<div class="row m-0 px-lg-5">
			<div class="col-xl-12">

				
				    
				  




				<div class="swiper-container" >
						    <!-- Additional required wrapper -->
				    <div class="swiper-wrapper ">
				        <!-- Slides -->
				        <div class="swiper-slide ">
				        	<div class="card shadow h-100" >
									<div>
								        <a class="news-badge" container="body" placement="top" tooltip="Green item">
									        <div>
									        	 <span>NEWS</span>
									        </div>
								        </a>
								    </div>
								  <div style="max-height: 180px; overflow: hidden;">
								  		<img  class="img-responsive w-100" src="./assets/images/placeholders/img.png" alt="placeholder">
								  </div>
								  <div class="card-body p-3">
								    <h4><a href="">DocuSign coming to eOffer &amp; eMod</a></h4>
								    
								    
								  </div>
							</div>
				        </div>
				        <div class="swiper-slide ">
				        	<div class="card shadow h-100" >
								<div>
								    <a class="news-badge" container="body" placement="top" tooltip="Green item">
									    <div>
									       	<span>NEWS</span>
									    </div>
							        </a>
							    </div>
								<div style="max-height: 180px; overflow: hidden;">
                         			 <img  class="img-responsive w-100" src="../src/assets/images/placeholders/img.png" alt="placeholder">
                      			</div>
                     			 <div class="card-body p-3">
									<h4><a href="">Multi-Factor Login Changes Coming for Contractors</a></h4>
								</div>
							</div>
						</div>
						        <div class="swiper-slide ">
						        	<div class="card shadow h-100" >
											<div>
										        <a class="system-badge" container="body" placement="top" tooltip="Green item">
											        <div>
											        	 <span>IMPORTANT</span>
											        </div>
										        </a>
										    </div>
										  <div style="max-height: 180px; overflow: hidden;">
                          <img  class="img-responsive w-100" src="./assets/images/placeholders/img.png" alt="placeholder">
                      </div>
                      <div class="card-body p-3">
										    <h4><a href="">New changes to GSA eBuy on 08/01/2020</a></h4>
										    
										    
										  </div>
									</div>
						        </div>
                    <div class="swiper-slide ">
                      <div class="card shadow h-100" >
                      <div>
                            <a class="system-badge" container="body" placement="top" tooltip="Green item">
                              <div>
                                 <span>IMPORTANT</span>
                              </div>
                            </a>
                        </div>
                      <div style="max-height: 180px; overflow: hidden;">
                          <img  class="img-responsive w-100" src="../src/assets/images/placeholders/img.png" alt="placeholder">
                      </div>
                      <div class="card-body p-3">
                        <h4><a href="">New changes to GSA eBuy on 08/01/2020</a></h4>
                        
                        
                      </div>
                  </div>
                    </div>
						        
						    </div>
						    <!-- If we need pagination -->
						    <div class="swiper-pagination"></div>

						    <!-- If we need navigation buttons -->
						    <div class="swiper-button-prev"></div>
						    <div class="swiper-button-next"></div>

						    <!-- If we need scrollbar -->
						    <!--
						    <div class="swiper-scrollbar"></div>
							-->
				</div>


			</div>
			
		</div>
	</div>
</div>