<div class="container-fluid">
  <div class="row">
     <div class="col px-0 py-3 mb-0 shadow bg-gsa-light-blue ">
        <div class="px-5">
            <div class="row">
              <div class="col-sm-12 col-xl text-center px-0 mx-auto view-control">
                <div class="input-group  px-sm-5">
              <div class="input-group-prepend">
                <span class="input-group-text bg-gsa-medium-blue white" style="border-width: 2px; margin-right: -1px;margin-top: 0px; height: 100%;     margin-bottom: 0; border-right: none; border-color: #fff">Search</span>
              </div>
              <input type="text" class="form-control" style="border: 2px solid #fff; height: 40px;">
              <div class="input-group-append ">
                <a routerLink="/app-search-results" routerLinkActive="active" class="btn btn-primary bg-gsa-medium-blue" style="border-width: 2px; margin-left: -1px;margin-top: 0px; height: 100%; max-width: 50px;    margin-bottom: 0; border-left: none; border-color: #fff"><span class="fa fa-search white "></span>
                </a>
              </div>
            </div>
          
          </div>  
            </div>
        </div>
    </div>
  </div>    
</div>