
<div class="d-flex">
    <dt class="mr-2">(a)</dt>
    <dd class="flex-fill">
        <p>
            Definitions. As used in this provision-
        </p>
        <p>
            “Economically disadvantaged women-owned small business (EDWOSB) concern”
            means a small business concern that is at least 51 percent directly and unconditionally owned by,
            and the management and daily business operations of which are controlled by, one or more women who
            are citizens of the United States and who are economically disadvantaged in accordance with 13 CFR
            part 127. It automatically qualifies as a women-owned small business concern eligible under the WOSB
            Program.
        </p>
        <p>
            “Service-disabled veteran-owned small business concern”-
        </p>
        <div class="d-flex">
            <dt class="mr-2">(1)</dt>
            <dd class="flex-fill m-0">
                <p>
                    Means a small business concern-
                </p>
                <div class="d-flex">
                    <dt class="mr-2">(i)</dt>
                    <dd class="flex-fill m-0">
                        <p>
                            Not less than 51 percent of which is owned by one or more
                            service-disabled veterans or, in the case of any publicly owned business, not less than 51 percent
                            of the stock of which is owned by one or more service-disabled veterans; and
                        </p>
                    </dd>
                </div>
                <div class="d-flex">
                    <dt class="mr-2">(ii)</dt>
                    <dd class="flex-fill m-0">
                        <p>
                            The management and daily business operations of which are controlled by one or more service-disabled veterans or, in the case of a service-disabled veteran with permanent and severe disability, the spouse or permanent caregiver of such veteran.
                        </p>
                    </dd>
                </div>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(2)</dt>
            <dd class="flex-fill m-0">
                <p>
                    “Service-disabled veteran” means a veteran, as defined in 38
                    U.S.C.101 (2), with a disability that is service-connected, as defined in 38 U.S.C.101(16).
                </p>
                <p>
                    “Small business concern” means a concern, including its affiliates, that is independently owned and operated, not dominant in the field of operation in which it is bidding on Government contracts, and qualified as a small business under the criteria in 13 CFR Part 121 and the size standard in paragraph (b) of this provision.
                </p>
                <p>
                    “Small disadvantaged business concern,” consistent with 13 CFR 124.1002, means a small business concern under the size standard applicable to the acquisition, that-
                </p>
                <p>
                    Is at least 51 percent unconditionally and directly owned (as defined at 13 CFR 124.105) by-
                </p>
                <div class="d-flex">
                    <dt class="mr-2">(i)</dt>
                    <dd class="flex-fill m-0">
                        <p>
                            One or more socially disadvantaged (as defined at 13 CFR 124.103) and economically disadvantaged (as defined at 13 CFR 124.104) individuals who are citizens of the United States, and
                        </p>
                    </dd>
                </div>
                <div class="d-flex">
                    <dt class="mr-2">(ii)</dt>
                    <dd class="flex-fill m-0">
                        <p>
                            Each individual claiming economic disadvantage has a net worth not exceeding $750,000 after taking into account the applicable exclusions set forth at 13 CFR 124.104(c)(2); and
                        </p>
                    </dd>
                </div>

            </dd>
        </div>

    </dd>
</div>







<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (2) “Service-disabled veteran” means a veteran, as defined in 38
                    U.S.C.101 (2), with a disability that is service-connected, as defined in 38 U.S.C.101(16).</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> “Small business concern” means a concern, including its affiliates, that
                    is independently owned and operated, not dominant in the field of operation in which it is bidding
                    on Government contracts, and qualified as a small business under the criteria in 13 CFR Part 121 and
                    the size standard in paragraph (b) of this provision.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> “Small disadvantaged business concern,” consistent with 13 CFR 124.1002,
                    means a small business concern under the size standard applicable to the acquisition, that-</td>
            </tr>
        </tbody>
    </table>
</div><br>


<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12">Is at least 51 percent unconditionally and directly owned (as defined at
                    13 CFR 124.105) by-</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(i)</td>
                <td width="98%" class="top12"> One or more socially disadvantaged (as defined at 13 CFR 124.103) and
                    economically disadvantaged (as defined at 13 CFR 124.104) individuals who are citizens of the United
                    States, and</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(ii)</td>
                <td width="98%" class="top12"> Each individual claiming economic disadvantage has a net worth not
                    exceeding $750,000 after taking into account the applicable exclusions set forth at 13 CFR
                    124.104(c)(2); and</td>
            </tr>
        </tbody>
    </table>
</div><br>


<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(2)</td>
                <td width="98%" class="top12"> The management and daily business operations of which are controlled (as
                    defined at 13 CFR 124.106) by individuals who meet the criteria in paragraphs (1)(i) and (ii) of
                    this definition.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> “Veteran-owned small business concern” means a small business concern-
                </td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (1) Not less than 51 percent of which is owned by one or more veterans
                    (as defined at 38 U.S.C.101(2)) or, in the case of any publicly owned business, not less than 51
                    percent of the stock of which is owned by one or more veterans; and</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (2) The management and daily business operations of which are controlled
                    by one or more veterans.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> “Women-owned small business concern” means a small business concern-</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (1) That is at least 51 percent owned by one or more women; or, in the
                    case of any publicly owned business, at least 51 percent of the stock of which is owned by one or
                    more women; and</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (2) Whose management and daily business operations are controlled by one
                    or more women.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> “Women-owned small business (WOSB) concern eligible under the WOSB
                    Program” (in accordance with 13 CFR part 127), means a small business concern that is at least 51
                    percent directly and unconditionally owned by, and the management and daily business operations of
                    which are controlled by, one or more women who are citizens of the United States.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (b) (1) The North American Industry Classification System (NAICS) code
                    for this acquisition is–</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12">

                    <span style="font-style: italic;">
                        <span font-family="Times New Roman" font-size="9pt" style="font-style: italic;"
                            linefeed-treatment="preserve" text-align="left" white-space-collapse="false"
                            white-space-treatment="preserve">TEST</span>
                    </span> [insert NAICS code].
                </td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(2)</td>
                <td width="98%" class="top12"> The small business size standard is <span style="font-style: italic;">
                        <span font-family="Times New Roman" font-size="9pt" style="font-style: italic;"
                            linefeed-treatment="preserve" text-align="left" white-space-collapse="false"
                            white-space-treatment="preserve">TEST</span>
                    </span> [insert size standard].</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(3)</td>
                <td width="98%" class="top12"> The small business size standard for a concern which submits an offer in
                    its own name, other than on a construction or service contract, but which proposes to furnish a
                    product which it did not itself manufacture (i.e., nonmanufacturer), is 500 employees</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(c)</td>
                <td width="98%" class="top12"> Representations.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(1)</td>
                <td width="98%" class="top12"> The offeror represents as part of its offer that it <span
                        style="font-style: italic;"><input aria-label="$vendorInsert1" aria-required="false"
                            id="$vendorInsert1" name="$vendorInsert1" type="checkbox"></span> is, <span
                        style="font-style: italic;"><input aria-label="$vendorInsert2" aria-required="false"
                            id="$vendorInsert2" name="$vendorInsert2" type="checkbox"></span> is not a small business
                    concern.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (2) [Complete only if the offeror represented itself as a small business
                    concern in paragraph (c) (1) of this provision.] The offeror represents that it <span
                        style="font-style: italic;"><input aria-label="$vendorInsert3" aria-required="false"
                            id="$vendorInsert3" name="$vendorInsert3" type="checkbox"></span> is, <span
                        style="font-style: italic;"><input aria-label="$vendorInsert4" aria-required="false"
                            id="$vendorInsert4" name="$vendorInsert4" type="checkbox"></span> is not, a small
                    disadvantaged business concern as defined in 13 CFR 124.1002.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (3) [Complete only if the offeror represented itself as a small business
                    concern in paragraph (c)(1) of this provision.] The offeror represents as part of its offer that it
                    <span style="font-style: italic;"><input aria-label="$vendorInsert5" aria-required="false"
                            id="$vendorInsert5" name="$vendorInsert5" type="checkbox"></span> is, <span
                        style="font-style: italic;"><input aria-label="$vendorInsert6" aria-required="false"
                            id="$vendorInsert6" name="$vendorInsert6" type="checkbox"></span> is not a women-owned small
                    business concern.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (4) Women-owned small business (WOSB) concern eligible under the WOSB
                    Program.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12">[Complete only if the offeror represented itself as a women-owned small
                    business concern in paragraph (c)(3) of this provision.] The offeror represents as part of its offer
                    that-</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(i)</td>
                <td width="98%" class="top12"> It <span style="font-style: italic;"><input aria-label="$vendorInsert7"
                            aria-required="false" id="$vendorInsert7" name="$vendorInsert7" type="checkbox"></span> is,
                    <span style="font-style: italic;"><input aria-label="$vendorInsert8" aria-required="false"
                            id="$vendorInsert8" name="$vendorInsert8" type="checkbox"></span> is not a WOSB concern
                    eligible under the WOSB Program, has provided all the required documents to the WOSB Repository, and
                    no change in circumstances or adverse decisions have been issued that affects its eligibility; and
                </td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(ii)</td>
                <td width="98%" class="top12"> It <span style="font-style: italic;"><input aria-label="$vendorInsert9"
                            aria-required="false" id="$vendorInsert9" name="$vendorInsert9" type="checkbox"></span> is,
                    <span style="font-style: italic;"><input aria-label="$vendorInsert10" aria-required="false"
                            id="$vendorInsert10" name="$vendorInsert10" type="checkbox"></span> is not a joint venture
                    that complies with the requirements of 13 CFR part 127, and the representation in paragraph
                    (c)(4)(i) of this provision is accurate for each WOSB concern eligible under the WOSB Program
                    participating in the joint venture. [The offeror shall enter the name or names of the WOSB concern
                    eligible under the WOSB Program and other small businesses that are participating in the joint
                    venture: <span style="font-style: italic;"><input aria-label="$vendorInsert11" aria-required="false"
                            id="$vendorInsert11" name="$vendorInsert11" type="checkbox"></span>.] Each WOSB concern
                    eligible under the WOSB Program participating in the joint venture shall submit a separate signed
                    copy of the WOSB representation.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (5) Economically disadvantaged women-owned small business (EDWOSB)
                    concern. [Complete only if the offeror represented itself as a women-owned small business concern
                    eligible under the WOSB Program in (c)(4) of this provision.] The offeror represents as part of its
                    offer that-</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(i)</td>
                <td width="98%" class="top12"> It <span style="font-style: italic;"><input aria-label="$vendorInsert12"
                            aria-required="false" id="$vendorInsert12" name="$vendorInsert12" type="checkbox"></span>
                    is, <span style="font-style: italic;"><input aria-label="$vendorInsert13" aria-required="false"
                            id="$vendorInsert13" name="$vendorInsert13" type="checkbox"></span> is not an EDWOSB concern
                    eligible under the WOSB Program, has provided all the required documents to the WOSB Repository, and
                    no change in circumstances or adverse decisions have been issued that affects its eligibility; and
                </td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(ii)</td>
                <td width="98%" class="top12"> It <span style="font-style: italic;"><input aria-label="$vendorInsert14"
                            aria-required="false" id="$vendorInsert14" name="$vendorInsert14" type="checkbox"></span>
                    is, <span style="font-style: italic;"><input aria-label="$vendorInsert15" aria-required="false"
                            id="$vendorInsert15" name="$vendorInsert15" type="checkbox"></span> is not a joint venture
                    that complies with the requirements of 13 CFR part 127, and the representation in paragraph
                    (c)(5)(i) of this provision is accurate for each EDWOSB concern participating in the joint venture.
                    [The offeror shall enter the name or names of the EDWOSB concern and other small businesses that are
                    participating in the joint venture: <span style="font-style: italic;"><input
                            aria-label="$vendorInsert16" aria-required="false" id="$vendorInsert16"
                            name="$vendorInsert16" type="checkbox"></span>.] Each EDWOSB concern participating in the
                    joint venture shall submit a separate signed copy of the EDWOSB representation.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (6) [Complete only if the offeror represented itself as a small business
                    concern in paragraph (c)(1) of this provision.] The offeror represents as part of its offer that it
                    <span style="font-style: italic;"><input aria-label="$vendorInsert17" aria-required="false"
                            id="$vendorInsert17" name="$vendorInsert17" type="checkbox"></span> is, <span
                        style="font-style: italic;"><input aria-label="$vendorInsert18" aria-required="false"
                            id="$vendorInsert18" name="$vendorInsert18" type="checkbox"></span> is not a veteran-owned
                    small business concern.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (7) [Complete only if the offeror represented itself as a veteran-owned
                    small business concern in paragraph (c) (6) of this provision.] The offeror represents as part of
                    its offer that it <span style="font-style: italic;"><input aria-label="$vendorInsert19"
                            aria-required="false" id="$vendorInsert19" name="$vendorInsert19" type="checkbox"></span>
                    is, <span style="font-style: italic;"><input aria-label="$vendorInsert20" aria-required="false"
                            id="$vendorInsert20" name="$vendorInsert20" type="checkbox"></span> is not a
                    service-disabled veteran-owned small business concern.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (8) [Complete only if the offeror represented itself as a small business
                    concern in paragraph (c)(1) of this provision.] The offeror represents, as part of its offer, that-
                </td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(i)</td>
                <td width="98%" class="top12"> It <span style="font-style: italic;"><input aria-label="$vendorInsert21"
                            aria-required="false" id="$vendorInsert21" name="$vendorInsert21" type="checkbox"></span>
                    is,<span style="font-style: italic;"><input aria-label="$vendorInsert22" aria-required="false"
                            id="$vendorInsert22" name="$vendorInsert22" type="checkbox"></span> is not a HUBZone small
                    business concern listed, on the date of this representation, on the List of Qualified HUBZone Small
                    Business Concerns maintained by the Small Business Administration, and no material changes in
                    ownership and control, principal office, or HUBZone employee percentage have occurred since it was
                    certified in accordance with 13 CFR Part 126; and</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(ii)</td>
                <td width="98%" class="top12"> It <span style="font-style: italic;"><input aria-label="$vendorInsert23"
                            aria-required="false" id="$vendorInsert23" name="$vendorInsert23" type="checkbox"></span>
                    is, <span style="font-style: italic;"><input aria-label="$vendorInsert24" aria-required="false"
                            id="$vendorInsert24" name="$vendorInsert24" type="checkbox"></span> is not a HUBZone joint
                    venture that complies with the requirements of 13 CFR Part 126, and the representation in paragraph
                    (c)(8)(i) of this provision is accurate for each HUBZone small business concern participating in the
                    HUBZone joint venture. [The offeror shall enter the names of each of the HUBZone small business
                    concerns participating in the HUBZone joint venture: <span style="font-style: italic;"><input
                            aria-label="$vendorInsert25" aria-required="false" id="$vendorInsert25"
                            name="$vendorInsert25" type="checkbox"></span>.] Each HUBZone small business concern
                    participating in the HUBZone joint venture shall submit a separate signed copy of the HUBZone
                    representation.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full d-inline" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top12">(d)</td>
                <td width="98%" class="top12"> Under 15 U.S.C.645(d), any person who misrepresents a firm’s status as a
                    business concern that is small, HUBZone small, small disadvantaged, service-disabled veteran-owned
                    small, economically disadvantaged women-owned small, or women-owned small eligible under the WOSB
                    Program in order to obtain a contract to be awarded under the preference programs established
                    pursuant to section 8, 9, 15, 31, and 36 of the Small Business Act or any other provision of Federal
                    law that specifically references section 8(d) for a definition of program eligibility, shall-</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (1) Be punished by imposition of fine, imprisonment, or both;</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (2) Be subject to administrative remedies, including suspension and
                    debarment; and</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"> (3) Be ineligible for participation in programs conducted under the
                    authority of the Act.</td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12"></td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="target indentLevel1">
    <table class="full" role="presentation">
        <tbody>
            <tr>
                <td width="2%" class="top10"></td>
                <td width="98%" class="top12">(End of provision)</td>
            </tr>
        </tbody>
    </table>
</div>