<div class="row m-0">
    <div class="col-12 p-0">  
      <div class="bg-gsa-light-blue"  style="overflow: hidden; background-image: url(assets/images/content-art/istockphoto-545247618-1024x1024-recreated.svg); background-position: center bottom; background-size: cover; background-repeat: no-repeat;">
        <div class="jumbotron col-7 m-5 bg-white shadow py-4 pull-5" style="background-color: rgba(255, 255, 255, 0.9) !important;">
            <h1 class="display-4 m-0">
                <strong style="font-weight: bold; color: #005588 !important;">GSA</strong>&nbsp;&nbsp;<span class="gsa-red"><span class="h3" style="color: #af3639 !important;">Vendor Services</span></span>
            </h1>
            <p class="lead gsa-medium-blue">
              <strong>Buy or sell a wide variety of products, supplies, equipment, and services from or to the government.</strong>
            </p>
            <hr class="my-4 border-bottom">
            <p class=" gsa-medium-blue">Learn more about how to become a federal marketplace vendor or complete a questionnaire to find out if you business qualifies.</p>
            <p class="lead">
              <a class="btn btn-primary" [routerLink]="['/vendor-resources']" role="button">Learn More</a>&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="#" role="button">Start Questionnaire</a>
            </p>
          </div>
      </div>
    </div>
  </div>
  
  <!-- <section class="px-0 pt-4 m-0">
      

    <div class="container-fluid px-0">    
        <div class="mx-auto">
          <div class="">
              <div class="container px-5">
              <div class="row">
                <div class="col"> 
                  <h4 class="gsa-medium-blue m-0 py-2 border-bottom text-center">
                    <strong>What to buy, Where to buy, How to buy it.</strong>
                  </h4>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="container px-5">

          <div class="d-flex justify-content-around flex-wrap py-3">

            <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
              <div class="p-2 mb-3 h-100 text-center">  
                <span class="gsa-red h4 ml-1">
                    <strong>Advantage!</strong>
                </span>
                <p class="small">Search and Buy from Thousands of Products</p>
                <a class="btn btn-outline-primary btn-sm">Learn More</a>
              </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
              <div class="p-2 mb-3 h-100 text-center">  
                <span class="gsa-red h4 ml-1">
                    <strong>eBuy</strong>
                </span>
                <p class="small">Request Quotes from Thousands of Services</p>
                <a class="btn btn-outline-primary btn-sm">Learn More</a>
              </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
              <div class="p-2 mb-3 h-100 text-center">  
                <span class="gsa-red h4 ml-1">
                    <strong>eLibrary</strong>
                </span>
                <p class="small">Get the latest GSA Contract Award Information</p>
                <a class="btn btn-outline-primary btn-sm">Learn More</a>
              </div>
            </div>
            
          </div>
  
       
      
    </div>  
  </section> -->


  <section class="px-0 m-0">

    <div class="container-fluid px-0 bg-gsa-dark-blue">    
        <div class="mx-auto">
          <div class="">
              <div class="container px-5">
              <div class="row">
                <div class="col pb-3 pt-4"> 
                  <h4 class="h5 m-0 white d-inline mr-3">
                    Register, Apply, and Sell to the Federal Government with our Complete Suite of Vendor Tools.
                  </h4>
                  <a class="btn btn-outline-light btn-sm" [routerLink]="['/vendor-resources']">Start Here&nbsp;&nbsp;&#8250;</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    
    <div class="container px-5">

        <div class="d-flex justify-content-around flex-wrap">

            <div class="col-6 col-sm-4 col-md-3 col-lg-3 py-4 background-arrow d-flex align-items-center">
              <div class="p-2 text-center">  
                <!-- <span class="gsa-red h4 ml-1">
                    <strong>SAM</strong>
                </span> -->
                <p class="m-0">Register your Organization and Create an Account using <strong class="gsa-red">SAM</strong></p>
                <a href="#" class="small">Learn More</a>
              </div>
            </div>

          <div class="col-6 col-sm-4 col-md-3 col-lg-3 py-4 background-arrow d-flex align-items-center">
            <div class="p-2 text-center">  
              <!-- <span class="gsa-red h4 ml-1">
                  <strong>Offer Portal</strong>

              </span> -->
              <p class="m-0">Submit your Product or Service Offerings using <strong class="gsa-red">eOffer</strong></p>
              <a href="#" class="small">Learn More</a>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-md-3 col-lg-3 py-4 background-arrow d-flex align-items-center">
            <div class="p-2 text-center">  
              <!-- <span class="gsa-red h4 ml-1">
                  <strong>PO Portal</strong>
              </span> -->
              <p class="m-0">Access Purchase Orders with the <strong class="gsa-red">PO Portal</strong></p>
              <a href="#" class="small">Learn More</a>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-md-3 col-lg-3 py-4 d-flex align-items-center">
            <div class="p-2 text-center">  
              <!-- <span class="gsa-red h4 ml-1">
                  <strong>FAS Sales Reporting</strong>
              </span> -->
              <p class="m-0">Collect, Generate, and Review Sales Reports using <strong class="gsa-red">FAS SR</strong></p>
              <a href="#" class="small">Learn More</a>
            </div>
          </div>
          
        </div>

     
    
  </div>  

  </section>
  

  
  <div class="container-fluid py-5 px-5 bg-gsa-dark-blue white "> 
    <div class=" mx-auto">
        <!--<h2 class="pt-5 pb-5 font-weight-bold ">Explore</h2> --> 
        
        <div class="row">
          <div class="col-xl-4">
            <div class="card shadow h-100 bg-gsa-light-blue">
              <div class="card-body px-5">
                <h3 class="mb-4 white"><small style="color: #7ab3d6 !important;">Need help?</small><br>Contractor Assistance and Training:</h3>
                
                  <ul class="white list-unstyled">
                      <li><a class="white" href="https://www.gsa.gov/MASModGuide" target="_blank" title="MAS Modification Guidance">MAS Modification Guidance</a></li>
  
                      <li><a class="white" href="AMSupport/index.html" title="eOffer/eMod Interactive Help Center" target="_blank">eOffer/eMod Interactive Help Center</a></li>
                      
                      <li><a class="white" href="eoffer_docs/assistance.html" target="_blank" title="Customer Assistance">Contact Us</a></li>
                    </ul>
                
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card shadow h-100 bg-gsa-light-blue">
              <div class="card-body px-5">
                <h3 class="mb-4 white"><small style="color: #7ab3d6 !important;">Knowledge Base</small><br>Information and Training</h3>
                
                <ul class="white list-unstyled">  
                  <li><a class="white" href="eoffer_docs/eoffer_process.html" target="_blank" title="Learn about the electronic contract offer process">eOffer</a></li>
                  <li><a class="white" href="eoffer_docs/emod_process.html" target="_blank" title="Learn about the electronic contract modification process">eMod</a></li>
                  <li><a class="white" href="eoffer_docs/eOffer_eMod-Multi-Factor-Authentication-User-Guide.pdf" target="_blank" title="eOffer_eMod-Multi-Factor-Authentication-User-Guide">FAS ID User Guide</a></li>
                  <li><a class="white" href="eoffer_docs/authorized_negotiator.html" target="_blank" title="Authorized Negotiators">Authorized Negotiators</a></li>
                  <li><a class="white" href="https://www.gsa.gov/portal/content/231611" target="_blank" title="Subcontracting Plan">Subcontracting Plan Model Template</a></li>
                  <li><a class="white" href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedule/selling-through-schedule/roadmap-for-new-schedule-offerors/get-ready" target="_blank" title="Readiness Assessment">Readiness Assessment</a></li>
                </ul>
  
                
                
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card shadow h-100 bg-gsa-light-blue">
              <div class="card-body px-5">
                <h3 class="mb-4 white"><small style="color: #7ab3d6 !important;">Stay Informed</small><br>Notifications</h3>
                
                <ul class="list-unstyled">
                  <li><a class="white" href="eoffer_docs/xml/scheduled_maintenance.xml" target="_blank" title="Notifications about Site maintenance">Site Maintenance Schedule</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>



