<section class="bg-gsa-medium-blue toolbox2-img">
  <div class="container-fluid px-5 py-5">
   <div class="row">


      <div class="col-lg-12 col-xl-3">
        <div class="mb-3 ">  
          
          <h2>
            <small class=" font-weight-bold  gsa-xlight-blue"><div class="fal fa-exclamation-triangle"></div> Updates & Information</small>
          </h2>
          <!--
          <p class="gsa-xlight-blue mb-1">Last updated</p>
          <p class="white">12/12/2021</p>
          -->
              

          <!--
          <p class="white">
            Whether you're looking at getting your first contract, researching contract maintenance/compliance, or reporting your contract sales... the Vendor Support Center is here to provide you with the information necessary to help your business be successful.
          </p>
          -->
        </div>
      </div>
      
      <div class="col-lg-12 col-xl-9 h-100 d-none">
        
        <div class="row justify-content-lg-center">
            <div class="col-sm-12 col-xl pt-3 border-right pl-4 h-100">
              <div class="mb-3 ">  
                <h3 class="white"><div class="fal fa-list" style="width: 2.4rem;"></div> Topics</h3>
                <ul class="list-unstyled ml-5">
                  <li><a href="understanding-contracts.html" class="white">Understanding GSA Contracts</a></li>
                    <li><a href="vendor-toolbox.html#research" class="white">Where To Begin</a></li>
                    <li><a href="vendor-toolbox.html#analyze" class="white">Education</a></li>
                    
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-xl pt-3 pl-4 h-100 border-right ">
              <div class="mb-3">  
                <h3 class="white"><span class="fal fa-link" style="width: 2.4rem;"></span> Links</h3>
                <ul class="list-unstyled ml-5">
                  <li><a href="" class="white">Reporting My Sales</a></li>
                  <li><a href="" class="white">Sales Analysis</a></li>
                  
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-xl pt-3  pl-4 h-100">
              <div class="mb-3">  
                <h3 class="white"><div class="fal fa-file" style="width: 2.4rem;"></div> Documents</h3>
                <ul class="list-unstyled ml-5">
                  <li><a href="" class="white">GSA Advantage</a></li>
                  <li><a href="" class="white">Contract Compliance</a></li>
                  <li><a href="" class="white">Market Research</a></li>
                </ul>
              </div>
            </div>
            
        </div>        

        

      </div>
      

    </div>
  </div>  
</section>
<section class="" style="min-height: 400px;">

  
  <div class="container-fluid px-5 py-5">

    <div class="row border-bottom pb-3">
      <div class="col-sm-12 col-lg-3 pt-3 border-right">
        <div class="mb-3 sticky-top">  
          
          <h3 class="gsa-medium-blue">Recognize and Avoid Phishing Emails</h3>
          <p>last updated: 12/12/2021</p>
          
        </div>
      </div>

      <div class="col-lg-9">
      	<div class="article-container">
          <div class="row">
            <div class="col-lg">
		        <p>
		        	GSA vendors may be the targets of fraudulent phishing emails. Phishing is a scheme that lures victims into providing personal or financial information. Do not open unsolicited emails or suspicious attachments/links. These emails may contain harmful viruses and malware, and may result in identity theft.
		        </p>
		    </div>
		</div>
      </div>
    </div>
</div>

    <div class="row border-bottom pb-3">
      <div class="col-sm-12 col-lg-3 pt-3 border-right">
        <div class="mb-3 sticky-top">  
          
          <h3 class="gsa-medium-blue">Update title goes here</h3>
          <p>last updated: 12/12/2021</p>
          
        </div>
      </div>

      <div class="col-lg-9">
        <div class="article-container">
          <div class="row">
            <div class="col-lg">
		        <p>
        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim iaculis augue eu tempus. Vivamus sodales tempor odio ac laoreet. Suspendisse suscipit magna nisl, vitae sodales lacus mattis vel. Vivamus accumsan ac augue id aliquet. Sed non porta nisi. Phasellus quis feugiat ipsum, a luctus ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce pretium mi eu lacus ullamcorper porta. Etiam purus ante, porttitor eget commodo sit amet, gravida id dui. Phasellus aliquam est ac dui tempor ultricies. Suspendisse sit amet ipsum in mauris tristique dignissim vitae rutrum massa. Nunc interdum ornare leo, at rhoncus arcu faucibus nec. Mauris ullamcorper dignissim ex, a tincidunt quam porta eget. Morbi risus nisi, tempor nec ante eget, iaculis luctus eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        		</p>
        	</div>
        </div>
    </div>
      </div>
    </div>
    

    
    
  </div>  
</section>