
<div class="d-flex">
    <dt class="mr-2">(a)</dt>
    <dd class="flex-fill">
        <p>
            Definitions. As used in this provision-
        </p>
        <p>
            “Economically disadvantaged women-owned small business (EDWOSB) concern”
            means a small business concern that is at least 51 percent directly and unconditionally owned by,
            and the management and daily business operations of which are controlled by, one or more women who
            are citizens of the United States and who are economically disadvantaged in accordance with 13 CFR
            part 127. It automatically qualifies as a women-owned small business concern eligible under the WOSB
            Program.
        </p>
        <p>
            “Service-disabled veteran-owned small business concern”-
        </p>
        <div class="d-flex">
            <dt class="mr-2">(1)</dt>
            <dd class="flex-fill m-0">
                <p>
                    Means a small business concern-
                </p>
                <div class="d-flex">
                    <dt class="mr-2">(i)</dt>
                    <dd class="flex-fill m-0">
                        <p>
                            Not less than 51 percent of which is owned by one or more
                            service-disabled veterans or, in the case of any publicly owned business, not less than 51 percent
                            of the stock of which is owned by one or more service-disabled veterans; and
                        </p>
                    </dd>
                </div>
                <div class="d-flex">
                    <dt class="mr-2">(ii)</dt>
                    <dd class="flex-fill m-0">
                        <p>
                            The management and daily business operations of which are controlled by one or more service-disabled veterans or, in the case of a service-disabled veteran with permanent and severe disability, the spouse or permanent caregiver of such veteran.
                        </p>
                    </dd>
                </div>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(2)</dt>
            <dd class="flex-fill m-0">
                <p>
                    “Service-disabled veteran” means a veteran, as defined in 38
                    U.S.C.101 (2), with a disability that is service-connected, as defined in 38 U.S.C.101(16).
                </p>
                <p>
                    “Small business concern” means a concern, including its affiliates, that is independently owned and operated, not dominant in the field of operation in which it is bidding on Government contracts, and qualified as a small business under the criteria in 13 CFR Part 121 and the size standard in paragraph (b) of this provision.
                </p>
                <p>
                    “Small disadvantaged business concern,” consistent with 13 CFR 124.1002, means a small business concern under the size standard applicable to the acquisition, that-
                </p>
                <p>
                    Is at least 51 percent unconditionally and directly owned (as defined at 13 CFR 124.105) by-
                </p>
                <div class="d-flex">
                    <dt class="mr-2">(i)</dt>
                    <dd class="flex-fill m-0">
                        <p>
                            One or more socially disadvantaged (as defined at 13 CFR 124.103) and economically disadvantaged (as defined at 13 CFR 124.104) individuals who are citizens of the United States, and
                        </p>
                    </dd>
                </div>
                <div class="d-flex">
                    <dt class="mr-2">(ii)</dt>
                    <dd class="flex-fill m-0">
                        <p>
                            Each individual claiming economic disadvantage has a net worth not exceeding $750,000 after taking into account the applicable exclusions set forth at 13 CFR 124.104(c)(2); and
                        </p>
                    </dd>
                </div>

            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(3)</dt>
            <dd class="flex-fill m-0">
                <p>
                    The management and daily business operations of which are controlled (as defined at 13 CFR 124.106) by individuals who meet the criteria in paragraphs (1)(i) and (ii) of this definition.
                </p>
                <p>
                    “Veteran-owned small business concern” means a small business concern-
                </p>
                <div class="d-flex">
                    <dt class="mr-2">(i)</dt>
                    <dd class="flex-fill m-0">
                        <p>
                            Not less than 51 percent of which is owned by one or more veterans (as defined at 38 U.S.C.101(2)) or, in the case of any publicly owned business, not less than 51 percent of the stock of which is owned by one or more veterans; and
                        </p>
                    </dd>
                </div>
                <div class="d-flex">
                    <dt class="mr-2">(ii)</dt>
                    <dd class="flex-fill m-0">
                        <p>
                            The management and daily business operations of which are controlled by one or more veterans.
                        </p>
                    </dd>
                </div>
                <p>
                    “Women-owned small business (WOSB) concern eligible under the WOSB Program” (in accordance with 13 CFR part 127), means a small business concern that is at least 51 percent directly and unconditionally owned by, and the management and daily business operations of which are controlled by, one or more women who are citizens of the United States.
                </p>
            </dd>
        </div>
    </dd>
</div>




<div class="d-flex">
    <dt class="mr-2">(b)</dt>
    <dd class="flex-fill">        
        <div class="d-flex">
            <dt class="mr-2">(1)</dt>
            <dd class="flex-fill">
                <p>
                    The North American Industry Classification System (NAICS) code for this acquisition is–
                </p>
                <p>
                    TEST [insert NAICS code].
                </p>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(2)</dt>
            <dd class="flex-fill m-0">
                <p>
                    The small business size standard is TEST [insert size standard].
                </p>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(3)</dt>
            <dd class="flex-fill m-0">
                <p>
                    The small business size standard for a concern which submits an offer in its own name, other than on a construction or service contract, but which proposes to furnish a product which it did not itself manufacture (i.e., nonmanufacturer), is 500 employees
                </p>
            </dd>
        </div>
    </dd>
</div>



<div class="d-flex">
    <dt class="mr-2">(c)</dt>
    <dd class="flex-fill">
        <p>
            Representations.
        </p>
        <div class="d-flex">
            <dt class="mr-2">(1)</dt>
            <dd class="flex-fill m-0">
                <div class="mb-3">
                    The offeror represents as part of its offer that it:           
                    <div class="custom-control custom-radio custom-control-inline ml-3">
                        <input id="isSmbc" type="radio" name="smallBusinessConcern" class="custom-control-input" disabled/>
                        <label class="custom-control-label" for="isSmbc"><u>is</u></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="isNotSmbc" type="radio" name="smallBusinessConcern" class="custom-control-input" checked disabled/>
                        <label class="custom-control-label" for="isNotSmbc"><u>is not</u></label>
                    </div>
                    a small business concern.
                </div>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(2)</dt>
            <dd class="flex-fill m-0">
                <div class="mb-3">
                    [Complete only if the offeror represented itself as a small business concern in paragraph (c) (1) of this provision.] 
                    The offeror represents that it          
                    <div class="custom-control custom-radio custom-control-inline ml-3">
                        <input id="isSmdbc" type="radio" name="smallDisadvantageBusinessConcern" class="custom-control-input" disabled/>
                        <label class="custom-control-label" for="isSmdbc"><u>is</u></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="isNotSmdbc" type="radio" name="smallDisadvantageBusinessConcern" class="custom-control-input" checked disabled/>
                        <label class="custom-control-label" for="isNotSmdbc"><u>is not</u></label>
                    </div>
                    a small disadvantaged business concern as defined in 13 CFR 124.1002.
                </div>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(3)</dt>
            <dd class="flex-fill m-0">
                <div class="mb-3">
                    [Complete only if the offeror represented itself as a small business concern in paragraph (c)(1) of this provision.] 
                    The offeror represents as part of its offer that it:           
                    <div class="custom-control custom-radio custom-control-inline ml-3">
                        <input id="isWosmbc" type="radio" name="womenOwnedSmallBusinessConcern" class="custom-control-input" disabled/>
                        <label class="custom-control-label" for="isWosmbc"><u>is</u></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="isNotWosmbc" type="radio" name="womenOwnedSmallBusinessConcern" class="custom-control-input" checked disabled/>
                        <label class="custom-control-label" for="isNotWosmbc"><u>is not</u></label>
                    </div>
                    a women-owned small business concern.
                </div>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(4)</dt>
            <dd class="flex-fill m-0">
                <p>
                    Women-owned small business (WOSB) concern eligible under the WOSB Program.
                </p>
                <div class="d-flex">
                    <dt class="mr-2">(i)</dt>
                    <dd class="flex-fill m-0">
                        <div class="mb-3">
                            It 
                            <div class="custom-control custom-radio custom-control-inline ml-3">
                                <input id="isWosmbc2" type="radio" name="womenOwnedSmallBusinessConcern2" class="custom-control-input" disabled/>
                                <label class="custom-control-label" for="isWosmbc2"><u>is</u></label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="isNotWosmbc2" type="radio" name="womenOwnedSmallBusinessConcern2" class="custom-control-input" checked disabled/>
                                <label class="custom-control-label" for="isNotWosmbc2"><u>is not</u></label>
                            </div>
                            a WOSB concern eligible under the WOSB Program, has provided all the required documents to the WOSB Repository, 
                            and no change in circumstances or adverse decisions have been issued that affects its eligibility; and
                        </div>
                    </dd>
                </div>
                <div class="d-flex">
                    <dt class="mr-2">(ii)</dt>
                    <dd class="flex-fill m-0">
                        <div class="mb-3">
                            It 
                            <div class="custom-control custom-radio custom-control-inline ml-3">
                                <input id="isJointVenture" type="radio" name="jointVenture" class="custom-control-input" disabled/>
                                <label class="custom-control-label" for="isJointVenture"><u>is</u></label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="isNotJointVenture" type="radio" name="jointVenture" class="custom-control-input" checked disabled/>
                                <label class="custom-control-label" for="isNotJointVenture"><u>is not</u></label>
                            </div>
                            a joint venture that complies with the requirements of 13 CFR part 127, and the representation in paragraph (c)(4)(i) 
                            of this provision is accurate for each WOSB concern eligible under the WOSB Program participating in the joint venture.
                            <div class="custom-control custom-checkbox custom-control-inline my-3">                                
                                <input id="shallEnterNameOfWOSB" type="checkbox" name="shallEnterNameOfWOSB" class="custom-control-input" checked disabled/>
                                <label class="custom-control-label d-inline" for="shallEnterNameOfWOSB">
                                    [The offeror shall enter the name or names of the WOSB concern eligible under the WOSB Program and 
                                    other small businesses that are participating in the joint venture.]
                                </label>
                            </div>
                             Each WOSB concern eligible under the WOSB Program participating in the joint venture shall submit a 
                             separate signed copy of the WOSB representation.
                        </div>
                    </dd>
                </div>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(5)</dt>
            <dd class="flex-fill m-0">
                <p>
                    Economically disadvantaged women-owned small business (EDWOSB) concern. [Complete only if the offeror represented itself 
                    as a women-owned small business concern eligible under the WOSB Program in (c)(4) of this provision.] The offeror represents as part of its offer that-
                </p>
                <div class="d-flex">
                    <dt class="mr-2">(i)</dt>
                    <dd class="flex-fill m-0">
                        <div class="mb-3">
                            It 
                            <div class="custom-control custom-radio custom-control-inline ml-3">
                                <input id="isEligibleWOSBProgram" type="radio" name="eligibleWOSBProgram" class="custom-control-input" disabled/>
                                <label class="custom-control-label" for="isEligibleWOSBProgram"><u>is</u></label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="isNotEligibleWOSBProgram" type="radio" name="eligibleWOSBProgram" class="custom-control-input" checked disabled/>
                                <label class="custom-control-label" for="isNotEligibleWOSBProgram"><u>is not</u></label>
                            </div>
                            an EDWOSB concern eligible under the WOSB Program, has provided all the required documents to the WOSB Repository, 
                            and no change in circumstances or adverse decisions have been issued that affects its eligibility; and
                        </div>
                    </dd>
                </div>
                <div class="d-flex">
                    <dt class="mr-2">(ii)</dt>
                    <dd class="flex-fill m-0">
                        <div class="mb-3">
                            It 
                            <div class="custom-control custom-radio custom-control-inline ml-3">
                                <input id="isJointVentureComplies13CFR" type="radio" name="jointVentureComplies13CFR" class="custom-control-input" disabled/>
                                <label class="custom-control-label" for="isJointVentureComplies13CFR"><u>is</u></label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="isNotJointVentureComplies13CFR" type="radio" name="jointVentureComplies13CFR" class="custom-control-input" checked disabled/>
                                <label class="custom-control-label" for="isNotJointVentureComplies13CFR"><u>is not</u></label>
                            </div>
                            a joint venture that complies with the requirements of 13 CFR part 127, and the representation in paragraph (c)(5)(i) of this 
                            provision is accurate for each EDWOSB concern participating in the joint venture. 
                            <div class="custom-control custom-checkbox custom-control-inline my-3">                                
                                <input id="shallEnterNameOfEDWOSB" type="checkbox" name="shallEnterNameOfEDWOSB" class="custom-control-input" checked disabled/>
                                <label class="custom-control-label d-inline" for="shallEnterNameOfEDWOSB">
                                    [The offeror shall enter the name or names of the EDWOSB concern and other small businesses that are participating in the joint venture.]
                                </label>
                            </div>
                            Each EDWOSB concern participating in the joint venture shall submit a separate signed copy of the EDWOSB representation.
                        </div>
                    </dd>
                </div>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(6)</dt>
            <dd class="flex-fill m-0">
                <div class="mb-3">
                    [Complete only if the offeror represented itself as a small business concern in paragraph (c)(1) of this provision.] The offeror 
                    represents as part of its offer that it
                    <div class="custom-control custom-radio custom-control-inline ml-3">
                        <input id="isVOSBC" type="radio" name="veteranOwnedSmallBusinessConcern" class="custom-control-input" disabled/>
                        <label class="custom-control-label" for="isVOSBC"><u>is</u></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="isNotVOSBC" type="radio" name="veteranOwnedSmallBusinessConcern" class="custom-control-input" checked disabled/>
                        <label class="custom-control-label" for="isNotVOSBC"><u>is not</u></label>
                    </div>
                    a veteran-owned small business concern.
                </div>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(7)</dt>
            <dd class="flex-fill m-0">
                <div class="mb-3">
                    [Complete only if the offeror represented itself as a veteran-owned small business concern in paragraph (c) (6) of this provision.] 
                    The offeror represents as part of its offer that it
                    <div class="custom-control custom-radio custom-control-inline ml-3">
                        <input id="isSDVOSBC" type="radio" name="serviceDisabledVeteranOwnedSmallBusinessConcern" class="custom-control-input" disabled/>
                        <label class="custom-control-label" for="isSDVOSBC"><u>is</u></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="isNotSDVOSBC" type="radio" name="serviceDisabledVeteranOwnedSmallBusinessConcern" class="custom-control-input" checked disabled/>
                        <label class="custom-control-label" for="isNotSDVOSBC"><u>is not</u></label>
                    </div>
                    service-disabled veteran-owned small business concern.
                </div>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(8)</dt>
            <dd class="flex-fill m-0">
                <p>
                    [Complete only if the offeror represented itself as a small business concern in paragraph (c)(1) of this provision.] The offeror represents, 
                    as part of its offer, that-
                </p>
                <div class="d-flex">
                    <dt class="mr-2">(i)</dt>
                    <dd class="flex-fill m-0">
                        <div class="mb-3">
                            It 
                            <div class="custom-control custom-radio custom-control-inline ml-3">
                                <input id="isHubZoneSBC" type="radio" name="hubZoneSBC" class="custom-control-input" disabled/>
                                <label class="custom-control-label" for="isHubZoneSBC"><u>is</u></label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="isNotHubZoneSBC" type="radio" name="hubZoneSBC" class="custom-control-input" checked disabled/>
                                <label class="custom-control-label" for="isNotHubZoneSBC"><u>is not</u></label>
                            </div>
                            a HUBZone small business concern listed, on the date of this representation, on the List of Qualified HUBZone Small 
                            Business Concerns maintained by the Small Business Administration, and no material changes in ownership and control, 
                            principal office, or HUBZone employee percentage have occurred since it was certified in accordance with 13 CFR Part 126; and
                        </div>
                    </dd>
                </div>
                <div class="d-flex">
                    <dt class="mr-2">(ii)</dt>
                    <dd class="flex-fill m-0">
                        <div class="mb-3">
                            It 
                            <div class="custom-control custom-radio custom-control-inline ml-3">
                                <input id="isJointVentureHubZoneSBC" type="radio" name="jointVentureHubZoneSBC" class="custom-control-input" disabled/>
                                <label class="custom-control-label" for="isJointVentureHubZoneSBC"><u>is</u></label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="isNotJointVentureHubZoneSBC" type="radio" name="jointVentureHubZoneSBC" class="custom-control-input" checked disabled/>
                                <label class="custom-control-label" for="isNotJointVentureHubZoneSBC"><u>is not</u></label>
                            </div>
                            a HUBZone joint venture that complies with the requirements of 13 CFR Part 126, and the representation in paragraph (c)(8)(i) of 
                            this provision is accurate for each HUBZone small business concern participating in the HUBZone joint venture.
                            <div class="custom-control custom-checkbox custom-control-inline my-3">                                
                                <input id="shallEnterNameOfWOSB" type="checkbox" name="shallEnterNameOfWOSB" class="custom-control-input" checked disabled/>
                                <label class="custom-control-label d-inline" for="shallEnterNameOfWOSB">
                                    [The offeror shall enter the names of each of the HUBZone small business concerns participating in the HUBZone joint venture.]
                                </label>
                            </div>
                            HUBZone small business concern participating in the HUBZone joint venture shall submit a separate signed copy of the HUBZone representation.
                        </div>
                    </dd>
                </div>
            </dd>
        </div>
    </dd>
</div>




<div class="d-flex">
    <dt class="mr-2">(d)</dt>
    <dd class="flex-fill">
        <p>
            Under 15 U.S.C.645(d), any person who misrepresents a firm’s status as a business concern that is 
            small, HUBZone small, small disadvantaged, service-disabled veteran-owned small, economically disadvantaged 
            women-owned small, or women-owned small eligible under the WOSB Program in order to obtain a contract to be 
            awarded under the preference programs established pursuant to section 8, 9, 15, 31, and 36 of the Small 
            Business Act or any other provision of Federal law that specifically references section 8(d) for a 
            definition of program eligibility, shall-
        </p>
        <div class="d-flex">
            <dt class="mr-2">(1)</dt>
            <dd class="flex-fill m-0">
                <p>
                    Be punished by imposition of fine, imprisonment, or both;
                </p>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(2)</dt>
            <dd>
                <p>
                    Be subject to administrative remedies, including suspension and debarment; and
                </p>
            </dd>
        </div>
        <div class="d-flex">
            <dt class="mr-2">(3)</dt>
            <dd class="flex-fill m-0">
                <p>
                    Be ineligible for participation in programs conducted under the authority of the Act.
                </p>
            </dd>
        </div>
    </dd>
</div>  