<accordion [isAnimated]="true" [closeOthers]="false">
    <app-form-accordion
        *ngIf="true"
        [config]="{ 
            title: section.title, 
            sectionStatus: section.sectionStatus, 
            parentOfferStatus: section.offerStatus, 
            isStickyTop: true, 
            showSection: section.showSection
        }"  
    >
        <ng-template #formAccordionHeader>
            <div class="flex-fill">
                <h3 class="h5">{{ section.title }}</h3>
            </div>
            <button *ngIf="offerStatus == 'In Progress'" type="button" class="btn btn-light gsa-light-blue bg-primary-hover mr-4 py-1" (click)="openModal()" appStopClickPropagation>
                <span class="fa fa-pencil mr-2"></span>
                Edit
            </button>
            
            <span *ngIf="offerStatus == 'Awarded'" class="btn-group" dropdown>
                <button id="button-manage" dropdownToggle type="button" class="btn btn-light gsa-light-blue bg-primary-hover mr-4 py-1 dropdown-toggle"
                    aria-controls="dropdown-manage" appStopClickPropagation>
                    <span class="gsa-light-blue">Actions</span>
                    <span class="caret"></span>
                </button>
                <ul id="dropdown-manage" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                    aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" (click)="openModal()">Create New Modification</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="openModHistoryModal()">View Modification History</a></li>
                    <li role="menuitem"><a class="dropdown-item">Show Clarification History</a></li>
                </ul>
            </span>
        </ng-template>
        <ng-template #formAccordionBody>
            <ng-container [ngTemplateOutlet]="readonlySection"></ng-container>
        </ng-template>
    </app-form-accordion>
</accordion>


<!-- Readonly Section -->
<ng-template #readonlySection> 
    <div class="d-flex mb-3">
        <dd class="flex-fill m-0">
            <p>
                Does the offeror have three (3) or more assessment reports available in the federal Contractor Performance Assessment
                Reporting System (CPARS) that represent:
            </p>
            <p>
                (1)  contracts or orders completed within three (3) years of the date of offer submission;<br>
                (2)  at least three (3) distinct orders and/or contracts; and<br>
                (3)  work similar in scope to products/services included in this solicitation.
            </p>
            <div class="d-flex">
                <dd class="mr-4">
                    <strong>
                        N/A
                    </strong>
                </dd>
            </div>
        </dd>
    </div>
    <div class="d-flex mb-3">
        <dd class="flex-fill m-0">
            <p>
                Address any negative feedback for each of the categories to include actions taken to minimize the problems that resulted in negative feedback.
            </p>
            <div class="d-flex">
                <dd class="mr-4">
                    <strong>
                        N/A
                    </strong>
                </dd>
            </div>
        </dd>
    </div>
</ng-template>



<!-- Edit Section -->
<ng-template #editSection> 
    <div class="d-flex mb-3">
        <dd class="flex-fill m-0">
            <div class="form-group">
                <label for="assessmentReports">
                    Does the offeror have three (3) or more assessment reports available in the federal Contractor Performance Assessment
                    Reporting System (CPARS) that represent:
                </label>
                <p>
                    (1)  contracts or orders completed within three (3) years of the date of offer submission;<br>
                    (2)  at least three (3) distinct orders and/or contracts; and<br>
                    (3)  work similar in scope to products/services included in this solicitation.
                </p>
                <textarea class="form-control" id="assessmentReports" name="assessmentReports" rows="3"></textarea>
            </div>
        </dd>
    </div>
    <div class="d-flex mb-3">
        <dd class="flex-fill m-0">
            <div class="form-group">
                <label for="negativeFeedback">
                    Address any negative feedback for each of the categories to include actions taken to minimize the problems that resulted in negative feedback.
                </label>
                <textarea class="form-control" id="negativeFeedback" name="negativeFeedback" rows="3"></textarea>
            </div>  
        </dd>
    </div>
</ng-template>


<!-- Modal Template -->
<app-modal
[config]="{ modalTitle: section.title, showDefaultOpenButton: false, defaultOpenButtonLabel: 'Edit', showDefaultCloseButton: false, modalSize: 'xl' }">
    <ng-template #modalBody>
        <ng-container [ngTemplateOutlet]="editSection"></ng-container>
    </ng-template>
    <ng-template #modalFooter>
        <input type="button" value="Save" id="saveAndContinue" class="btn btn-success btn-lg"
            (click)="saveForm()">
        <input type="button" value="Cancel" id="cancel" class="btn btn-default btn-lg bg-danger-hover" (click)="closeModal()">
    </ng-template>
</app-modal>


<app-modal #modHistoryModal
[config]="{ modalTitle: 'Modifications', showDefaultOpenButton: false, defaultOpenButtonLabel: 'Edit', showDefaultCloseButton: false, modalSize: 'xl' }">
    <ng-template #modalBody>
        <ng-container [ngTemplateOutlet]="viewModHistory"></ng-container>
    </ng-template>
    <ng-template #modalFooter>
        <input type="button" value="Close" id="cancel" class="btn btn-default btn-lg bg-danger-hover" (click)="closeModHistoryModal()">
    </ng-template>
</app-modal>

<ng-template #viewModHistory>
    <h1>Mod History</h1>
</ng-template>