<!--  SEARCH BAR --> 
<app-search-bar></app-search-bar>
<section class="bg-gsa-medium-blue toolbox2-img" >

  
  <div class="container-fluid px-5 pb-5 pt-3">
   
   	<!--
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent px-0">
        <li class="breadcrumb-item"><a href="javaScript:void(0)" routerlink="/app-home" routerlinkactive="active">Home</a></li>
        <li class="breadcrumb-item">Get a Contract</li>
        <li class="breadcrumb-item active" aria-current="page">Where to Begin</li>
      </ol>
    </nav>
	-->


    <div class="row">


      <div class="col-lg-12 col-xl-3 border-right">
        <div class="mb-3 pt-3">  
          
          <h2 class="white">
            <small class=" font-weight-light  gsa-xlight-blue"><div class="fal fa-file-signature"></div> Get a Contract</small>
            <br />
            <span class="font-weight-bold">Education</span>
          </h2>
          <div class="">
            <h5 class="gsa-xlight-blue">Related Topics:</h5>
            <ul class="list-unstyled">
              <li><a class="white" routerLink="/app-understanding-contracts">Understanding GSA Contracts</a></li>
              <li><a class="white" routerLink="/app-where-to-begin">Where to Begin</a></li>
            </ul>
         </div>
          
        </div>
      </div>
      
      <div class="col-lg-12 col-xl-9 h-100">

        <div class="row justify-content-lg-center">
            <div class="col-sm-12 col-xl pt-3  pl-4 h-100">
              <div class="mb-3 ">  
                <h3 class="white"><div class="fal fa-list" style="width: 2.4rem;"></div> Topics Covered</h3>
                <ul class="list-unstyled ml-5">
                  <li><a href="/app-where-to-begin#masContract" class="white">Pursuing a MAS Contract</a></li>
                  <li><a href="/app-where-to-begin#research" class="white">Step 1 - Research</a></li> 
                  <li><a href="/app-where-to-begin#analyze" class="white">Step 2 - Analyze</a></li> 
                  <li><a href="/app-where-to-begin#decide" class="white">Step 3 - Decide</a></li> 
                </ul>
              </div>
            </div>
            
            <div class="col-sm-12 col-xl pt-3 pl-4 h-100 border-right border-left">
              <div class="mb-3">  
                <h3 class="white"><span class="fal fa-link" style="width: 2.4rem;"></span> Additional Links</h3>
                <ul class="list-unstyled ml-5">
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs" target="_blankhttps" target="_blankhttps" class="white">Purchasing Programs
                    </a> 
                  
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <div class="collapse" id="collapseExample">
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                </div>
                  <a class="btn btn-outline-apps btn-sm mt-4 shadow" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    View All
                  </a>
                </ul>

                
               



              </div>
            </div>

            <div class="col-sm-12 col-xl pt-3  pl-4 h-100">
              <div class="mb-3">  
                <h3 class="white"><div class="fal fa-file" style="width: 2.4rem;"></div> Related Documents</h3>
                <ul class="list-unstyled ml-5">
                  <li>No Documents</li>
                </ul>
              </div>
            </div>
        </div>        

        <div class="row justify-content-lg-center d-none">
          <div class="col-sm-12 col-xl pl-4 h-100">
            <div class="mb-3 ">  
              
              <h5 class=" gsa-xlight-blue font-weight-bold">Topics Covered</h5>
              <div class="row justify-content-lg-center">
                <div class="col-sm-12 col-xl pl-4 h-100">
                  <ul class="list-unstyled ml-4">
                    <li><a href="#federal-procurement" class="white">About Federal Procurement </a></li>
                    <li><a href="#contract-types" class="white">Types of Contracts </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-12 col-xl h-100 ">
            <div class="card border-gsa-xlight-blue bg-gsa-medium-blue shadow mb-3"> 
            <div class="card-header">
              <h5 class="white">Related Resources & Links</h5>
            </div> 
              <div class="px-4 py-3">
                <h5 class="gsa-xlight-blue">Documents</h5>
                <ul class="list-unstyled ">
                  <li><a href="" class="white">Reporting My Sales <small class="fal fa-external-link ml-3"></small></a></li>
                  <li><a href="" class="white">Sales Analysis </a></li>
                </ul>
                <h5 class="gsa-xlight-blue">Links</h5>
                <ul class="list-unstyled ">
                <li><a href="" class="white">Reporting My Sales <small class="fal fa-external-link ml-3"></small></a></li>
                <li><a href="" class="white">Sales Analysis </a></li>
              </ul>
            </div>
            </div>
          </div> 
        </div>

      </div>
      

    </div>
    
  </div>  
</section>
