<div class="col">
    <h2 class="h4 border-bottom mb-3">Basic information</h2>
</div>
<div class="col mb-5">
    
    <app-small-business [sectionData]="subSections.smallBusiness" [offerStatus]="offerStatus"></app-small-business>
    <app-information-responsibility-matters [sectionData]="subSections.infoRegardingResponsibilityMatters" [offerStatus]="offerStatus"></app-information-responsibility-matters>
    <app-hazardous-materials [sectionData]="subSections.hazardousMaterials" [offerStatus]="offerStatus"></app-hazardous-materials>
    <app-certification-responsibility-matters [sectionData]="subSections.certRegardingResponsibilityMatters" [offerStatus]="offerStatus"></app-certification-responsibility-matters>

</div>