<app-supplier-portal-workspace-layout>

  <ng-template #aside>

    <app-offer-form-side-nav [menuItems]="menuItems"></app-offer-form-side-nav>
    <app-submit-offer (submitOfferEvent)="offerSubmitted($event)"></app-submit-offer>

  </ng-template>

  <ng-template #body>

    <app-pathway-to-success [sectionData]="offerData.sections.pathwayToSuccess"></app-pathway-to-success>
    <app-corporate-information [sectionData]="offerData.sections.corporateInformation"></app-corporate-information>
    <app-negotiators [sectionData]="offerData.sections.negotiators"></app-negotiators>
    <app-available-offerings [sectionData]="offerData.sections.availableOfferings"></app-available-offerings>
    <app-standard-responses [sectionData]="offerData.sections.standardResponses"></app-standard-responses>
    <app-solicitaion-clauses [sectionData]="offerData.sections.solicitationClauses"></app-solicitaion-clauses>
    <app-solicitation-provisions [sectionData]="offerData.sections.solicitationProvisions"></app-solicitation-provisions>
    <app-exceptions [sectionData]="offerData.sections.exceptions"></app-exceptions>
    <app-upload-documents [sectionData]="offerData.sections.upload-documents"></app-upload-documents>


  </ng-template>

</app-supplier-portal-workspace-layout>