<div class="col">
    <h2 class="h4 border-bottom mb-3">Technical Proposal</h2>
</div>
<div class="col mb-5">

    <accordion [isAnimated]="true" [closeOthers]="false" *ngFor="let section of subSections">
        <app-form-accordion
            *ngIf="true"
            [config]="{ 
                title: section.title, 
                sectionStatus: section.sectionStatus, 
                parentOfferStatus: section.offerStatus, 
                isStickyTop: true, 
                showSection: section.showSection
            }"  
        >
            <ng-template #formAccordionBody>
                <ng-temlpate [ngComponentOutlet]="section.component"></ng-temlpate>
            </ng-template>
        </app-form-accordion>
    </accordion>

    <app-corporate-experience [sectionData]="subSections.corporateExperience" [offerStatus]="offerStatus"></app-corporate-experience>
    <app-past-performance [sectionData]="subSections.pastPerformance" [offerStatus]="offerStatus"></app-past-performance>
    <app-quality-control [sectionData]="subSections.qualityControl" [offerStatus]="offerStatus"></app-quality-control>
    <app-relevant-project-experience [sectionData]="subSections.relevantProjectExperience" [offerStatus]="offerStatus"></app-relevant-project-experience>
    <app-trade-agreements-act-compliance [sectionData]="subSections.tradeAgreementActCompliance" [offerStatus]="offerStatus"></app-trade-agreements-act-compliance>

</div>