<div class="col">
    <h2 class="h4 border-bottom mb-3">Services Contract Act Labor Matrix</h2>
</div>
<div class="col">
    <accordion [isAnimated]="true" [closeOthers]="false">
        <app-form-accordion
            *ngIf="true"
            [config]="{ 
                title: section.title, 
                sectionStatus: section.sectionStatus, 
                parentOfferStatus: section.offerStatus, 
                isStickyTop: true, 
                showSection: section.showSection
            }"  
            >
            <ng-template #formAccordionHeader>
                <div class="flex-fill">
                    <h3 class="h5">{{ section.title }}</h3>
                </div>
                
                <span *ngIf="offerStatus == 'Awarded'" class="btn-group" dropdown>
                    <button id="button-manage" dropdownToggle type="button" class="btn btn-light gsa-light-blue bg-primary-hover mr-4 py-1 dropdown-toggle"
                        aria-controls="dropdown-manage" appStopClickPropagation>
                        <span class="gsa-light-blue">Actions</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-manage" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" (click)="openModal()">Create New Modification</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="openModHistoryModal()">View Modification History</a></li>
                        <li role="menuitem"><a class="dropdown-item">Show Clarification History</a></li>
                    </ul>
                </span>
                
            </ng-template>
            <ng-template #formAccordionBody>
                <ng-container [ngTemplateOutlet]="readonlySection"></ng-container>
            </ng-template>
        </app-form-accordion>
    </accordion>
</div>


<!-- Reaonly Section -->
<ng-template #readonlySection>
    <div class="row">
        <div class="col-11">
            <div class="row">
                <div class="col-md-4">
                    <dt class="col">SCA Eligible Contract Labor Category:</dt>
                    <dd class="col mb-0">Sample Category</dd>
                </div>
                <div class="col-md-4">
                    <dt class="col">SCA Equivalent Code Title:</dt>
                    <dd class="col mb-0">Sample Equivalent Code</dd>
                </div>
                <div class="col-md-4">
                    <dt class="col">WD Number:</dt>
                    <dd class="col mb-0">Sample WD Number</dd>
                </div>
            </div>
        </div>
        <div class="col-1" *ngIf="offerStatus == 'In Progress'">
            <button type="button" class="btn btn-default btn-sm text-muted bg-primary-hover" (click)="openModal()">
                <span class="fa fa-pencil"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm text-muted bg-danger-hover">
                <span class="fa fa-trash"></span>
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-11">
            <div class="row">
                <div class="col-md-4">
                    <dt class="col">SCA Eligible Contract Labor Category:</dt>
                    <dd class="col mb-0">Sample Category</dd>
                </div>
                <div class="col-md-4">
                    <dt class="col">SCA Equivalent Code Title:</dt>
                    <dd class="col mb-0">Sample Equivalent Code</dd>
                </div>
                <div class="col-md-4">
                    <dt class="col">WD Number:</dt>
                    <dd class="col mb-0">Sample WD Number</dd>
                </div>
            </div>
        </div>
        <div class="col-1" *ngIf="offerStatus == 'In Progress'">
            <button type="button" class="btn btn-default btn-sm text-muted bg-primary-hover" (click)="openModal()">
                <span class="fa fa-pencil"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm text-muted bg-danger-hover">
                <span class="fa fa-trash"></span>
            </button>
        </div>
    </div>

    <hr>           
    <div class="col mt-4 d-flex justify-content-center" *ngIf="offerStatus == 'In Progress'"> 
        <button type="button" class="btn btn-light gsa-light-blue btn bg-primary-hover" (click)="openModal()">
            <span class="fa fa-plus mr-2"></span>
            Add SCA Labor Information
        </button>
    </div>

</ng-template>


<!-- Edit Section -->
<ng-template #editSection>
    <form id="hazardousMaterials">
        <div class="container">             
            <div class="row mb-2">
                <div class="col-md-3 d-flex justify-content-end text-right">   
                    <label for="laborCategory">SCA Eligible Contract Labor Category:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control col-md-6" id="laborCategory" name="laborCategory" aria-describedby="materialHelp"/>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3 d-flex justify-content-end text-right">   
                    <label for="codeTitle">SCA Equivalent Code Title:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control col-md-5" id="codeTitle" name="codeTitle"/>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3 d-flex justify-content-end text-right">   
                    <label for="wdNumber">WD Number:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control col-md-5" id="wdNumber" name="wdNumber"/>
                </div>
            </div>
        </div>

    </form>
</ng-template>




<!-- Modal Template -->
<app-modal
[config]="{ modalTitle: section.title, showDefaultOpenButton: false, defaultOpenButtonLabel: 'Edit', showDefaultCloseButton: false, modalSize: 'xl' }">
    <ng-template #modalBody>
        <ng-container [ngTemplateOutlet]="editSection"></ng-container>
    </ng-template>
    <ng-template #modalFooter>
        <input type="button" value="Save" id="saveAndContinue" class="btn btn-success btn-lg"
            (click)="saveForm()">
        <input type="button" value="Cancel" id="cancel" class="btn btn-default btn-lg bg-danger-hover" (click)="closeModal()">
    </ng-template>
</app-modal>



<app-modal #modHistoryModal
[config]="{ modalTitle: 'Modifications', showDefaultOpenButton: false, defaultOpenButtonLabel: 'Edit', showDefaultCloseButton: false, modalSize: 'xl' }">
    <ng-template #modalBody>
        <ng-container [ngTemplateOutlet]="viewModHistory"></ng-container>
    </ng-template>
    <ng-template #modalFooter>
        <input type="button" value="Close" id="cancel" class="btn btn-default btn-lg bg-danger-hover" (click)="closeModHistoryModal()">
    </ng-template>
</app-modal>

<ng-template #viewModHistory>
    <h1>Mod History</h1>
</ng-template>