.usa-alert {
  background-color: #f1f1f1;
  background-position: 1rem 1.2rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  position: relative;
}

.usa-alert::before {
  background-color: #8b8b8b;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.usa-alert a {
  color: #205493;
}

.usa-alert a:focus, .usa-alert a:hover {
  color: #112e51;
}

.usa-alert ul {
  margin-bottom: 0;
  margin-top: 1rem;
  padding-left: 1rem;
}

.usa-alert-slim {
  background-position: 2rem 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.usa-alert-slim .usa-alert-text:only-child {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.usa-alert-icon {
  display: table-cell;
  padding-right: 1rem;
}

.usa-alert-body {
  display: table-cell;
  vertical-align: top;
      /*padding-bottom: 1rem;*/
}

.usa-alert-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.usa-alert-text {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

.usa-alert-text:only-child {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.usa-alert-success {
  background-color: #e7f4e4;
  background-image: url("../images/alerts/success.png");
  background-image: url("../images/alerts/success.svg");
}

.usa-alert-success::before {
  background-color: #2e8540;
}

.usa-alert-success .usa-alert-body {
  padding-left: 2rem;
}

.usa-alert-warning {
  background-color: #fff1d2;
  background-image: url("../images/alerts/warning.png");
  background-image: url("../images/alerts/warning.svg");
}

.usa-alert-warning::before {
  background-color: #fdb81e;
}

.usa-alert-warning .usa-alert-body {
  padding-left: 2rem;
}

.usa-alert-error {
  background-color: #f9dede;
  background-image: url("../images/alerts/error.png");
  background-image: url("../images/alerts/error.svg");
}

.usa-alert-error::before {
  background-color: #e31c3d;
}

.usa-alert-error .usa-alert-body {
  padding-left: 2rem;
}

.usa-alert-info {
  background-color: #e1f3f8;
  background-image: url("../images/alerts/info.png");
  background-image: url("../images/alerts/info.svg");
}

.usa-alert-info::before {
  background-color: #02bfe7;
}

.usa-alert-info .usa-alert-body {
  padding-left: 2rem;
}

.usa-alert-no_icon {
  background-image: none;
}

.usa-alert-paragraph {
  width: 66ch;
}

.usa-alert {
  margin: 0 0 1rem 0;
}
