.ngx-datatable.material {
	box-shadow: none !important;
    width: 100%;
}
span.datatable-header-cell-label {
	font-weight: 900 !important;
	font-size: 18px !important;
}
/* - - - - - - - - - - - - - - - - - */

.accordion-label {
	font-size: 1.3rem;
}

a[aria-expanded="true"]{
  background-color: #42DCA3;
}
html {
	scroll-behavior: smooth;
  }

  .blur {
    filter: blur(24px);
    -webkit-filter: blur(24px);
    -moz-filter: blur(24px);
    -o-filter: blur(24px);
    -ms-filter: blur(24px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='24' /></filter></svg>#svgMask");
    /* TODO: Add IE11 blur support */
  }


.custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
    color: inherit;
}

/*  eOffer Readonly Form Styles */
dt {
  font-weight: initial;
  font-size: 14px;
  color: #6b6b6b;
}
dd {
  margin-bottom: 16px;
}


.text-primary-hover:hover {
  color: #2277aa !important;
}

.text-danger-hover:hover {
  color: #dc3545 !important;
}

.bg-primary-hover:hover {
  background-color: #2277aa !important;
  color: #fff !important;
}

.bg-danger-hover:hover {
  background-color: #dc3545 !important;
  color: #fff !important;
}
