html, body {
  font-family: 'SSP' !important;
}
.font-weight-black {
  font-family: 'SSP-Black' !important;
}
.font-weight-bold {
  font-family: 'SSP-Bold' !important;
}
.font-weight-semibold {
  font-family: 'SSP-SemiBold' !important;
}
.font-weight-light {
  font-family: 'SSP-Light' !important;
}
/* HEADER FONT COLOR CONTROL */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #2277aa;
    font-family: 'SSP' !important;
}

/* NAVBAR */
.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    width: 100%;
}
/*
.navbar-toggleable-md .navbar-collapse {
    width: unset !important;
}

.navbar-toggleable-md {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.navbar-expand-lg .navbar-collapse {
    display: flex ;
    flex-basis: auto;
    justify-content: flex-end;
}
*/
/*
.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    width: -webkit-fill-available;
}
*/
/* FOOTER */

/* BREADCRUMB */

.breadcrumb {}
.breadcrumb ol.breadcrumb {

}
.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item:before,
.breadcrumb .breadcrumb-item.active:before,
.breadcrumb .breadcrumb-item a {
  
  color: #7ab4d8 !important;
  /*color: #6db3f2 !important;
  color: #339bda !important;*/
  font-weight: bold !important;
}

.breadcrumb .breadcrumb-item.active,
.breadcrumb .breadcrumb-item.active {
  color: #7ab4d8 !important;
  /*color: #6db3f2 !important;
  color: #339bda !important;*/
  font-weight: 100 !important;
}

/* CONTENT */
.container-fluid.view-control {
    width: 93%;
}

.sticky-top {
  top: 1.5rem;
}
.sticky-top-content {
  top: 0 !important;
  position: sticky !important;
  z-index: 5;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
}
.sticky-top.sticky-top-second {
  top: 1.5rem;

}
/*
.navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    bottom: 0;
    right: 5rem;
    position: absolute;
}
.navbar-toggleable-lg .navbar-nav {
    
    align-items: flex-end;
    padding-bottom: 0.4rem;
}


*/

/*
.navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-weight: bold;
}
.navbar-nav .nav-link:hover {
    color: #2277aa !important;
}
*/
/* DESIGN CONTROL */
.icon-back {
   position: relative;
}
.icon-back-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    color: #ffffff14;
    display: block;
    font-size: 24rem;
}

.toolbox-img {
    background-image: url(../images/bg-art/toolbox-8.jpg);
    box-shadow: 0px 1200px #004f87de inset;
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.toolbox2-img {
    background-image: url(../images/bg-art/toolbox-9b.jpg);
    /*box-shadow: 0px 1200px #2377aad4 inset;*/
    box-shadow: 0px 1200px #004f87de inset;
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.shadow-lg {
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 1.25) !important;
}


.section {
}
.section-title {
  padding-top: 1.5rem;
}
.content-row {
    margin-bottom: 1rem;
}
.header-container {
  margin-top: 2rem;
}
.header-container h1, 
.header-container h2, 
.header-container h3, 
.header-container h4, 
.header-container h5 {
    color: #2277aa !important;
    font-family: "SSP-Bold";
}
.header-container h6 {
  color: #6c757d !important;
    font-family: "SSP-SemiBold";
}

.row div .article-container:first-child {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 0rem;
}
.article-container {
  margin-top: 0rem;
  margin-left: 2rem;
  margin-bottom: 0rem;
}


.article-group {
  
}
.article-list {
  margin: 0 2rem;
}
.article {
  padding-top: 1.5rem;
}
/* SPECIAL STYTLING */
.white.highlighted {
    background-color: #2277aa;
    padding: 2px 5px 2px 7px;
    margin: 2px 5px 0px -5px;
    display: block;
    font-weight: 600;
    color: #fff !important;
}
.list-group .highlighted {
    background-color: #ffe689;
    padding: 0 2px;
    margin: 0;
    display: inline-block;   
}

/* ICON STYLING */
.text-icon {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 31px;
    color: #526069;
    text-align: center;
    background: #ccd5db;
    border-radius: 50%;
    border: 2px solid #ccd5db;
    text-align: center;
    font-size: 24px;

}


/* BORDERS */
.border-right {
    border-color: #6db3f2 !important;
    border-right: 0.5px solid white;
}
.border-left {
    border-color: #6db3f2 !important;
    border-left: 0.5px solid white;
}
@media (max-width: 990px) {
	.border-right {
    border-color: transparent;
    border-right: none !important;
	}
    
}
.border-bottom {
    border-color: #6db3f2 !important;
    border-bottom: 3px solid white;
}
@media (max-width: 1199px) {
  .border-left {
    border-color: transparent;
    border-left: none !important;
  }
  }

/* BADGES */
.green-badge {
    position: absolute;
    /* right: 5px; */
    right: 30px;
    top: -1px;
    display: block;
    padding: 2px 5px 0;
    border-bottom-left-radius: 5px;
    width: auto;
    border-bottom-right-radius: 5px;
    text-align: center;
    z-index: 2;
    background: #79A70A;
    background: -webkit-gradient(linear, left top, left bottom, from(#9BC90D), to(#79A70A));
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    color: #fff !important;
    /* background-image: url(//../assets/images/adv12/images/env-icons/inds/GREEN.gif); */
    height: 1.3rem;
}
.news-badge {
  font-size: 12px;
    position: absolute;
    /* right: 5px; */
    right: 15px;
    top: -1px;
    display: block;
    padding: 2px 5px 0;
    border-bottom-left-radius: 5px;
    width: auto;
    border-bottom-right-radius: 5px;
    text-align: center;
    z-index: 2;
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */



    -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    color: #fff !important;
    /* background-image: url(//../assets/images/adv12/images/env-icons/inds/GREEN.gif); */
    height: 1.3rem;
}
.product-badge {
  font-size: 12px;
    position: absolute;
    /* right: 5px; */
    right: 15px;
    top: -1px;
    display: block;
    padding: 2px 5px 0;
    border-bottom-left-radius: 5px;
    width: auto;
    border-bottom-right-radius: 5px;
    text-align: center;
    z-index: 2;
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */



    -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    color: #222 !important;
    /* background-image: url(//../assets/images/adv12/images/env-icons/inds/GREEN.gif); */
    height: 1.3rem;
}
.system-badge {
  font-size: 12px;
    position: absolute;
    /* right: 5px; */
    right: 15px;
    top: -1px;
    display: block;
    padding: 2px 5px 0;
    border-bottom-left-radius: 5px;
    width: auto;
    border-bottom-right-radius: 5px;
    text-align: center;
    z-index: 2;
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
    background: #f85032; /* Old browsers */
    background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */




    -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    color: #fff !important;
    /* background-image: url(//../assets/images/adv12/images/env-icons/inds/GREEN.gif); */
    height: 1.3rem;
}

/* FORMS */
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-right: 0.5em;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group > .form-control,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file:focus {
  z-index: 3;
}

.input-group > .form-control + .form-control,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .custom-file,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
  margin-left: -1px;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .custom-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::before {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .custom-file:not(:first-child) .custom-file-label,
.input-group > .custom-file:not(:first-child) .custom-file-label::before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-prepend,
.input-group-append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group-prepend .btn,
.input-group-append .btn {
  position: relative;
  z-index: 2;
}

.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-group-text input[type="radio"],
.input-group-text input[type="checkbox"] {
  margin-top: 0;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}





/* RESPONSIVE TUNING */

/*
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
  xl: 1200px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);
*/


@media (min-width: 551px) {}
@media (min-width: 768px) {
  .table-responsive {
    display: table;
    width: 100% !important;
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {} 


@media (max-width: 420px) {}
@media (max-width: 720px) {}
@media (max-width: 960px) {} 


/*  - - - - - - - - - - - - - */
.table2 {

}

