

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light ">

  <!-- BRANDING -->
  <div class="navbar-brand mr-5 font-weight-light"><img alt="GSA eOffer/eMod" class="img-responsive d-inline-block" src="../assets/images/gsa-logo.jpg" style="max-height: 60px;"> 
    &nbsp; 
    <div style="
    display: inline-block;
    vertical-align: bottom;">
    eOffer/eMod
    </div>
  </div>
  <!-- eof BRANDING -->  
  <!-- MOBILE MENU BUTTON -->

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- eof MOBILE MENU BUTTON -->
  <!-- MENU ITEMS -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="!isCollapsed" [isAnimated]="true">

    <ul class="navbar-nav">
      
      <li class="nav-item active">
        <button routerLink="/app-home" routerLinkActive="active" id="button-home"  type="button" class="btn nav-link" style="white-space: nowrap;" >
          <span class="fal fa-home mr-1"></span> 
          <span class="nav-link-label">Home</span>
        </button>
      </li>
      
      <li class="nav-item btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn nav-link dropdown-toggle" aria-controls="dropdown-basic">
          <span class="fal fa-file-signature mr-1"></span> <span class="nav-link-label">Contract Offers</span> <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" routerLink="/app-understanding-contracts" routerLinkActive="active">Understanding GSA Contracts</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/app-where-to-begin" routerLinkActive="active">Where To Begin</a></li>
        </ul>
      </li>
      <li class="nav-item btn-group" dropdown>
        <button id="button-manage" dropdownToggle type="button" class="btn nav-link dropdown-toggle" aria-controls="dropdown-manage">
          <span class="fal fa-file-contract mr-1"></span> <span class="nav-link-label">Contract Modifications</span>
          <span class="caret"></span>
        </button>
        <ul id="dropdown-manage" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="app-advantage">GSA Advantage</a></li>
          <li role="menuitem"><a class="dropdown-item" href="app-contract-compliance">Contract Compliance</a></li>
          <li role="menuitem"><a class="dropdown-item" href="market-research">Market Research</a></li> 
          <li role="menuitem"><a class="dropdown-item" routerLink="/app-lookup-tables" routerLinkActive="active">Lookup Tables</a></li> 
        </ul>  
      </li>
      <li class="nav-item btn-group" dropdown>

        <button id="button-sales" dropdownToggle type="button" class="btn nav-link dropdown-toggle" aria-controls="dropdown-sales">
          <span class="fal fa-file-invoice-dollar mr-1"></span> 
          <span class="nav-link-label">Contract Sales</span> <span class="caret"></span>
        </button>
        <ul id="dropdown-sales" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="report-sales">Reporting My Sales</a></li>
          <li role="menuitem"><a class="dropdown-item" href="sales-analysis">Sales Analysis</a></li>
        </ul>
      </li>
      <li class="nav-item active">
        <button routerLink="/app-project-center" routerLinkActive="active" id="button-home"  type="button" class="btn nav-link" style="white-space: nowrap;" >
          <span class="fal fa-question-circle mr-1"></span> 
          <span class="nav-link-label">Help</span>
        </button>
      </li>
      <li class="nav-item active">
        <button routerLink="/app-home" routerLinkActive="active" id="button-login"  type="button" class="btn nav-link" style="white-space: nowrap;" >
          <span class="fal fa-sign-in mr-1"></span> 
          <span class="nav-link-label">Login</span>
        </button>
      </li>

      <!--
      <li class="nav-item btn-group" dropdown>

        <button id="button-sales" dropdownToggle  type="button" class="btn nav-link dropdown-toggle" aria-controls="dropdown-login">
          <span class="fal fa-file-invoice mr-1"></span> 
          <span class="nav-link-label">Login</span> <span class="caret"></span>
        </button>
        <ul id="dropdown-login" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="report-sales">Login in as a Contractor</a></li>
          <li role="menuitem"><a class="dropdown-item" href="sales-analysis">Login in as a Contrcting Officer</a></li>
        </ul>
      </li>
     -->
      <!-- TEMP NAVIGATION - to be deleted once navigation is wired -->
      <!--
      <li class="nav-item btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn nav-link dropdown-toggle temp" aria-controls="dropdown-basic">
          <span class="fal fa-code mr-1"></span> <span class="nav-link-label">Temp Dev Links</span> <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" routerLink="/app-ui-kit" routerLinkActive="active">UI Kit</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/app-content-viewer" routerLinkActive="active">Content Viewer</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/app-search-results" routerLinkActive="active">Search Results</a></li> 
        </ul>
      </li>

      -->
      
      <!-- eof TEMP NAVIGATION -->    
    </ul>
  </div>

  <!-- eof MENU ITEMS -->
</nav>




<router-outlet></router-outlet>


<!-- FOOTER -->
<section class="footer">
  <div class="container-fluid bg-gsa-light-grey">
    <div class="row p-5">
      <div class="col-lg-3">
        <h5 class="font-weight-bold">GSA eOffer/eMod</h5>
        <p class="pr-5">How to reach the VSC help center staff<br /> Toll Free: <strong>877-495-4849</strong> or <br /><a href="#"><strong>vendor.support@gsa.gov</strong></a>
          <br>
          <small>
          Note: They do not provide guidance on contract matters or answer questions related to your contract. Those questions should be directed to the PCO, ACO or IOA as appropriate.</small></p>
      </div>
      <div class="col-lg-3">
        <h5 class="font-weight-bold">Popular Pages</h5>
        <ul class="list-unstyled">
          <li><a href="https://srp.fas.gsa.gov" target="_blank" id="anch_43">FAS Sales Reporting </a></li>
              <li><a href="https://mcm.fas.gsa.gov" target="_blank" id="anch_44">Mass Mod System </a></li>
              <li><a href="/tools/aco_ioa.cfm" id="anch_45">IOA and ACO Locator</a></li>
              <li><a href="/tools/ui-display.cfm" id="anch_46">Updates and Information</a></li>
              <li><a href="/administration/compDetails.cfm#cav" id="anch_47">Contractor Assessment</a></li>
              <li><a href="https://www.gsaadvantage.gov" target="_blank" id="anch_38">GSA Advantage! </a></li>
                <li><a href="https://www.ebuy.gsa.gov/" target="_blank" id="anch_39">GSA Advantage! e-Buy </a></li>
                <li><a href="http://www.gsaelibrary.gsa.gov/" target="_blank" id="anch_40">GSA eLibrary </a></li>
                <li><a href="http://eoffer.gsa.gov/" target="_blank" id="anch_41">eMod </a></li>
                <li><a href="/FAS/" id="anch_42">SIP/EDI Password reset</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5 class="font-weight-bold">Resources</h5>
        <ul class="list-unstyled">
          <li><a href="https://srp.fas.gsa.gov" target="_blank" id="anch_43">FAS Sales Reporting </a></li>
              <li><a href="https://mcm.fas.gsa.gov" target="_blank" id="anch_44">Mass Mod System </a></li>
              <li><a href="/tools/aco_ioa.cfm" id="anch_45">IOA and ACO Locator</a></li>
              <li><a href="/tools/ui-display.cfm" id="anch_46">Updates and Information</a></li>
              <li><a href="/administration/compDetails.cfm#cav" id="anch_47">Contractor Assessment</a></li>
              <li><a href="https://www.gsaadvantage.gov" target="_blank" id="anch_38">GSA Advantage! </a></li>
                <li><a href="https://www.ebuy.gsa.gov/" target="_blank" id="anch_39">GSA Advantage! e-Buy </a></li>
                <li><a href="http://www.gsaelibrary.gsa.gov/" target="_blank" id="anch_40">GSA eLibrary </a></li>
                <li><a href="http://eoffer.gsa.gov/" target="_blank" id="anch_41">eMod </a></li>
                <li><a href="/FAS/" id="anch_42">SIP/EDI Password reset</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5 class="font-weight-bold">GSA eTools</h5>
        <ul class="list-unstyled list-group-flush">
          <li class=""><a href="#" class=" w-100">Advantage!</a></li>
          <li><a href="#">eBuy</a></li>
          <li><a href="#">eLibrary</a></li>
          <li><a href="#">eOffer/eMod</a></li>
          <li><a href="#">ASAP</a></li>
          <li><a href="#">Purchase Order Portal</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>