<div class=" sticky-top mb-5">
    <h5 class="mb-3">Form Navigator</h5>
    <ul class="list-group list-group-flush small card">
        <li class="list-group-item" *ngFor="let item of menuItems">
            <a class="card-link" [routerLink]="item.path"
            routerLinkActive="active">{{item.name}}</a>
                <ng-container  *ngIf="item.complete; else incompleteIcon">
                    <span class="text-success fa fa-check mr-1" style="float: right; margin-top: 4px;"></span>
                </ng-container>
                <ng-template #incompleteIcon>
                    <span class="text-warning fa fa-exclamation-triangle mr-1" style="float: right; margin-top: 4px;"></span>
                </ng-template>
        </li>
    </ul>
</div>