<div *ngIf="menuItems; else errorMsg">

    <div class="btn btn-outline-primary d-xs-block d-sm-block d-md-none mb-4">Form Navigator</div>
    <h4 class="mb-3">Offer Navigator</h4>
    <ul class="list-group list-group-flush small card shadow br-6">
        <ng-container *ngFor="let item of menuItems">
            <li class="list-group-item" *ngIf="item.showSection">
                <a class="card-link" (click)="scrollToElement(item.sectionId)">{{item.name}}</a>
                <span class="float-right d-inline-block">
                    <app-section-status-indicator [sectionData]="item"></app-section-status-indicator>
                </span>
            </li>
        </ng-container>
    </ul>
</div>

<ng-template #errorMsg>
    Error: 'menuItems' data missing from component.
    <br>
    <br>
    Example:
    <br>&lt;app-offer-form-side-nav [menuItems]="data"&gt;&lt;/app-offer-form-side-nav&gt;
</ng-template>