<div class="container-fluid py-5 px-5 bg-gsa-dark-blue white "> 
  <div class=" mx-auto">
      <!--<h2 class="pt-5 pb-5 font-weight-bold ">Explore</h2> --> 
      
      <div class="row">
        <div class="col-xl-4">
          <div class="card shadow h-100 bg-gsa-light-blue">
            <div class="card-body px-5">
              <h3 class="mb-4 white"><small style="color: #7ab3d6 !important;">Need help?</small><br>Contractor Assistance and Training:</h3>
              
                <ul class="white list-unstyled">
                    <li><a class="white" href="https://www.gsa.gov/MASModGuide" target="_blank" title="MAS Modification Guidance">MAS Modification Guidance</a></li>

                    <li><a class="white" href="AMSupport/index.html" title="eOffer/eMod Interactive Help Center" target="_blank">eOffer/eMod Interactive Help Center</a></li>
                    
                    <li><a class="white" href="eoffer_docs/assistance.html" target="_blank" title="Customer Assistance">Contact Us</a></li>
                  </ul>
              
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow h-100 bg-gsa-light-blue">
            <div class="card-body px-5">
              <h3 class="mb-4 white"><small style="color: #7ab3d6 !important;">Knowledge Base</small><br>Information and Training</h3>
              
              <ul class="white list-unstyled">  
                <li><a class="white" href="eoffer_docs/eoffer_process.html" target="_blank" title="Learn about the electronic contract offer process">eOffer</a></li>
                <li><a class="white" href="eoffer_docs/emod_process.html" target="_blank" title="Learn about the electronic contract modification process">eMod</a></li>
                <li><a class="white" href="eoffer_docs/eOffer_eMod-Multi-Factor-Authentication-User-Guide.pdf" target="_blank" title="eOffer_eMod-Multi-Factor-Authentication-User-Guide">FAS ID User Guide</a></li>
                <li><a class="white" href="eoffer_docs/authorized_negotiator.html" target="_blank" title="Authorized Negotiators">Authorized Negotiators</a></li>
                <li><a class="white" href="https://www.gsa.gov/portal/content/231611" target="_blank" title="Subcontracting Plan">Subcontracting Plan Model Template</a></li>
                <li><a class="white" href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedule/selling-through-schedule/roadmap-for-new-schedule-offerors/get-ready" target="_blank" title="Readiness Assessment">Readiness Assessment</a></li>
              </ul>

              
              
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow h-100 bg-gsa-light-blue">
            <div class="card-body px-5">
              <h3 class="mb-4 white"><small style="color: #7ab3d6 !important;">Stay Informed</small><br>Notifications</h3>
              
              <ul class="list-unstyled">
                <li><a class="white" href="eoffer_docs/xml/scheduled_maintenance.xml" target="_blank" title="Notifications about Site maintenance">Site Maintenance Schedule</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>