<section class="bg-gsa-medium-blue toolbox2-img">
  <div class="container-fluid px-5 py-5">
   <div class="row">


      <div class="col-lg-12 col-xl-3">
        <div class="mb-3 ">  
          
          <h2>
            <small class=" font-weight-bold  gsa-xlight-blue"><div class="fal fa-project-diagram"></div> Page Title</small>
          </h2>
          <!--
          <p class="gsa-xlight-blue mb-1">Last updated</p>
          <p class="white">12/12/2021</p>
          -->
              

          
          
          
        </div>
      </div>
      
      <div class="col-lg-12 col-xl-9 h-100">
      	


        <div class="row justify-content-lg-center">
          <div class="col pt-xl-2 pl-xl-5 ">
              <p>
                Page description goes here.
              </p>
            </div>
            <div class="col-sm-12 col-lg-4 pt-3  pl-4 border-left d-none">
              <div class="mb-3 h-100">  
                <h4 class="gsa-xlight-blue"><div class="fal fa-list" style="width: 2.4rem;"></div> Action Area</h4>
                <ul class="list-unstyled ml-5">
                  <li><a href="/app-project-center#mas-consolidtion" class="white">Action 1</a></li>
                  <li><a href="/app-project-center#update-file" class="white">Action 2</a></li>
                  <li><a href="/app-project-center#ed-center" class="white">Action 3</a></li>
                  <li><a href="/app-project-center#mas-questions" class="white">Action 4</a></li> 
                </ul>
              </div>
            </div>



          
        </div>        
      </div>
      

    </div>
  </div>  
</section>
<section class="" style="min-height: 400px;">

  
  <div class="container-fluid px-5 py-5">

    <div class="row content-row border-bottom pb-3" id="mas-consolidtion">
      	<div class="col-sm-12 col-lg-3 pt-3 border-right">
	        <div class="mb-3 sticky-top">   
	          	<h3 class="gsa-medium-blue">Form Section Title</h3>
	        </div>
      	</div>

	    <div class="col-lg-9">
	      	<div class="article-container">
	          	<div class="row">
		            <div class="col-lg">
		            	
		            	
		            	<form>
									  <div class="form-row">
									    <div class="form-group col-md-6">
									      <label for="inputEmail4">Email</label>
									      <input type="email" class="form-control" id="inputEmail4">
									    </div>
									    <div class="form-group col-md-6">
									      <label for="inputPassword4">Password</label>
									      <input type="password" class="form-control" id="inputPassword4">
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="inputAddress">Address</label>
									    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
									  </div>
									  <div class="form-group">
									    <label for="inputAddress2">Address 2</label>
									    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
									  </div>
									  <div class="form-row">
									    <div class="form-group col-md-6">
									      <label for="inputCity">City</label>
									      <input type="text" class="form-control" id="inputCity">
									    </div>
									    <div class="form-group col-md-4">
									      <label for="inputState">State</label>
									      <select id="inputState" class="form-control">
									        <option selected>Choose...</option>
									        <option>...</option>
									      </select>
									    </div>
									    <div class="form-group col-md-2">
									      <label for="inputZip">Zip</label>
									      <input type="text" class="form-control" id="inputZip">
									    </div>
									  </div>
									  <div class="form-group">
									    <div class="form-check">
									      <input class="form-check-input" type="checkbox" id="gridCheck">
									      <label class="form-check-label" for="gridCheck">
									        Check me out
									      </label>
									    </div>
									  </div>
									  <button type="submit" class="btn btn-primary">Sign in</button>
									</form>


				    </div>
				</div>
	      	</div>
	    </div>
	</div>

    <div class="row content-row border-bottom pb-3" id="update-file">
      	<div class="col-sm-12 col-lg-3 pt-3 border-right">
	        <div class="mb-3 sticky-top">  
	          	<h3 class="gsa-medium-blue">Updating GSA Advantage Catalog Files</h3>
	        </div>
      	</div>

      	<div class="col-lg-9">
	        <div class="article-container">
	          	<div class="row">
		            <div class="col-lg">
				        <p>
		        			To be in full compliance with the MAS Consolidation Mass Mod A812 and avoid removal of your catalog from GSA Advantage , all contractors must complete these two important steps:
		        		</p>
		        		<ol>
				        	<li>Update your catalog in GSA Advantage.</li>
				        	<li>Update your Price List (Text File).</li>
				        </ol>
				        <p>
				        	Please take the steps outlined in the below resources to ensure your catalog status or access to eTools is not disrupted.
				        </p>
				        <ul>
				        	<li>MAS Consolidation Price List/Text File Updated Guidance</li>
				        	<li>MAS Consolidation SIP/EDI Updated Guidance </li>
				        </ul>
		        	</div>
	        	</div>
	    	</div>
      	</div>
    </div>

    <div class="row content-row border-bottom pb-3" id="ed-center">
      	<div class="col-sm-12 col-lg-3 pt-3 border-right">
	        <div class="mb-3 sticky-top">  
	          	<h3 class="gsa-medium-blue">Vendor Support Center (VSC) and Vendor Education Center (VEC) Update</h3>
	        </div>
      	</div>

      	<div class="col-lg-9">
	        <div class="article-container">
	          	<div class="row">
		            <div class="col-lg">
				        <p>
		        			The MAS PMO is currently reviewing the VSC and VEC to assess usability and potential redesign efforts. We asked industry for your feedback on the VSC in a Request for Information (RFI) in November 2020 - you can find the results here. Stay tuned for a new and improved VSC, and make sure you’re subscribed to the MAS Interact page to be notified when we publish the RFI for the VEC. 
		        		</p>
		        	</div>
	        	</div>
	    	</div>
      	</div>
    </div>

    <div class="row content-row border-bottom pb-3" id="mas-questions">
      	<div class="col-sm-12 col-lg-3 pt-3 border-right">
	        <div class="mb-3 sticky-top">  
	          	<h3 class="gsa-medium-blue">Questions about a MAS project?</h3>
	        </div>
      	</div>

      	<div class="col-lg-9">
	        <div class="article-container">
	          	<div class="row">
		            <div class="col-lg">
				        <p>
		        			Reach out to our team anytime at maspmo@gsa.gov or attend one of our monthly office hours for industry. View the topic schedule and register for the series here.
		        		</p>
		        	</div>
	        	</div>
	    	</div>
      	</div>
    </div>

  </div>  
</section>