<section class="bg-gsa-medium-blue toolbox2-img">
    <div class="container-fluid px-5 py-5">
        <div class="row">
            <div class="col-lg-12 col-xl-3">
                <div class="mb-3 ">
                    <h2>
                        <small class=" font-weight-bold  gsa-xlight-blue">
                            <div class="fal fa-project-diagram"></div> Supplier Portal
                        </small>
                    </h2>
                </div>
            </div>
            <div class="col-lg-12 col-xl-9 h-100">
                <div class="row justify-content-lg-center">
                    <div class="col pt-xl-2 pl-xl-5 ">
                        <p>
                            <!-- Log into your organization with either the DUNS or UEI number. -->
                        </p>
                    </div>
                    <div class="col-sm-12 col-lg-4 pt-3  pl-4 border-left d-none">
                        <div class="mb-3 h-100">
                            <h4 class="gsa-xlight-blue">
                                <div class="fal fa-list" style="width: 2.4rem;"></div> Action Area
                            </h4>
                            <ul class="list-unstyled ml-5">
                                <li><a href="/app-project-center#mas-consolidtion" class="white">Action 1</a></li>
                                <li><a href="/app-project-center#update-file" class="white">Action 2</a></li>
                                <li><a href="/app-project-center#ed-center" class="white">Action 3</a></li>
                                <li><a href="/app-project-center#mas-questions" class="white">Action 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="" style="min-height: 400px;">
    <div class="container-fluid px-5 py-5">
        <div class="row content-row border-bottom pb-3" id="mas-consolidtion">
            <div class="col-sm-12 col-lg-3 pt-3 border-right">
                <div class="mb-3 sticky-top">
                    <h3 class="gsa-medium-blue">Organization Sign In</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="article-container">
                    <div class="row">
                        <div class="col-lg">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputState">Select a previously entered DUNS/UEI</label>
                                        <select id="inputState" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">or, enter DUNS/UEI</label>
                                        <input type="text" class="form-control" id="inputEmail4">
                                    </div>
                                </div>
                                <!-- <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">DUNS/UEI Number</label>
                                        <input type="email" class="form-control" id="inputEmail4">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCity">City</label>
                                        <input type="text" class="form-control" id="inputCity">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputZip">Zip</label>
                                        <input type="text" class="form-control" id="inputZip">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck">
                                            Check me out
                                        </label>
                                    </div>
                                </div> -->
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>