<div class="d-flex mb-3">
    <dt class="mr-2">(A)</dt>
    <dd class="flex-fill m-0">
        <p>
            The number of years of corporate experience in providing the products/services described under this Schedule, regardless
            of the specific products/services being proposed - a minimum of two (2) years of corporate experience is required.
        </p>
        <div class="d-flex">
            <dd class="mr-4">
                <strong>
                    N/A
                </strong>
            </dd>
        </div>
    </dd>
</div>
<div class="d-flex mb-3">
    <dt class="mr-2">(B)</dt>
    <dd class="flex-fill m-0">
        <p>
            Organization's number of employees, experience in the field, and resources available to enable it to fulfill
            requirements.
        </p>
        <div class="d-flex">
            <dd class="mr-4">
                <strong>
                    N/A
                </strong>
            </dd>
        </div>
    </dd>
</div>
<div class="d-flex mb-3">
    <dt class="mr-2">(C)</dt>
    <dd class="flex-fill m-0">
        <p>
            Brief history of the Offeror's activities contributing to the development of expertise and capabilities related to this
            requirement.
        </p>
        <div class="d-flex">
            <dd class="mr-4">
                <strong>
                    N/A
                </strong>
            </dd>
        </div>
    </dd>
</div>
<div class="d-flex mb-3">
    <dt class="mr-2">(D)</dt>
    <dd class="flex-fill m-0">
        <p>
            Information that demonstrates the Offeror's organizational and accounting controls. 
        </p>
        <div class="d-flex">
            <dd class="mr-4">
                <strong>
                    N/A
                </strong>
            </dd>
        </div>
    </dd>
</div>
<div class="d-flex mb-3">
    <dt class="mr-2">(E)</dt>
    <dd class="flex-fill m-0">
        <p>
            A description of the resources presently in-house or the ability to acquire the type and kinds of personnel/products proposed. 
        </p>
        <div class="d-flex">
            <dd class="mr-4">
                <strong>
                    N/A
                </strong>
            </dd>
        </div>
    </dd>
</div>
<div class="d-flex mb-3">
    <dt class="mr-2">(F)</dt>
    <dd class="flex-fill m-0">
        <p>
            A description of how the Offeror intends to market the proposed products/services to Federal clients. 
        </p>
        <div class="d-flex">
            <dd class="mr-4">
                <strong>
                    N/A
                </strong>
            </dd>
        </div>
    </dd>
</div>
<div class="d-flex mb-3">
    <dt class="mr-2">(G)</dt>
    <dd class="flex-fill m-0">
        <p>
            A discussion regarding the intended use of subcontractors. 
        </p>
        <div class="d-flex">
            <dd class="mr-4">
                <strong>
                    N/A
                </strong>
            </dd>
        </div>
    </dd>
</div>