/deep/ .panel-open .card-header {
        background-color: white;
}

/deep/ .card-header:hover {
    background-color: rgb(245, 245, 245);
}

/deep/ .panel-open .card-body {
    background-color: white;
}

/deep/ .card-header.panel-enabled:has([accordion-heading].sticky-top-content)  {
    top: 120px !important; 
    z-index: 6;    
    position: -webkit-sticky !important;
}