<app-accordion [accordionTitle]="section.name">
    <ng-template #accordionHeader>
        <app-section-status-indicator [sectionData]="section"></app-section-status-indicator>
        <button *ngIf="offerStatus == 'Awarded'" class="btn btn-primary btn-sm float-right">New Mod</button>
    </ng-template>
    <ng-template #accordionBody>
        <ng-container *ngIf="formAccordionBody">
            <ng-container [ngTemplateOutlet]="formAccordionBody"></ng-container>
        </ng-container>
    </ng-template>
    <ng-template #accordionFooter>
        <ng-container *ngIf="formAccordionFooter">
            <ng-container [ngTemplateOutlet]="formAccordionFooter"></ng-container>
        </ng-container>
    </ng-template>
</app-accordion>