<app-form-card [sectionState]="sectionData" [sectionStatus]="sectionData.sectionStatus" *ngIf="sectionData.showSection">
    <ng-template #formCardActions>
        <ng-container [ngTemplateOutlet]="sectionActions"></ng-container>
    </ng-template>
    <ng-template #formCardBody>
        <ng-container [ngTemplateOutlet]="readonlySection"></ng-container>
    </ng-template>
</app-form-card>


<!-- Readonly Section -->
<ng-template #readonlySection>
    <form id="solicitationClauses">
        <app-basic-information></app-basic-information>
        <app-commercial-sales-practice></app-commercial-sales-practice>
        <app-point-of-contacts></app-point-of-contacts>
        <app-ordering-information></app-ordering-information>
    </form>
</ng-template>


<!-- Edit Section -->
<ng-template #editSection>
    <form id="solicitationClauses">

        <div class="usa-alert usa-alert-info mb-4">
            <div class="usa-alert-body">
                <p class="clearBoth">Please respond to the below terms and conditions that apply to your proposed
                    offerings.
                </p>
                <p>You must respond to all clauses to complete this section.</p>
            </div>
        </div>


        <h4 id="clau" class="type1">Clauses</h4>
        <table aria-labelledby="clau" class="table table-responsive table-bordered table-striped buttonsTable"
            id="tempTable">
            <thead>
                <tr>
                    <th width="40%" scope="col">
                        Template Name
                    </th>
                    <th width="20%" scope="col">
                        Status
                    </th>
                    <th width="10%" scope="col">
                        Edit
                    </th>
                    <th width="10%" scope="col">
                        Delete
                    </th>
                    <th width="10%" scope="col">
                        Respond
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Basic Information <span class="required">*</span></td>
                    <td>
                        Incomplete
                    </td>
                    <td></td>
                    <td></td>
                    <td class="tbl-button">
                        <button type="button" class="btn btn-primary btn-sm"
                            (click)="basicInformation.show()">Respond</button>

                    </td>
                </tr>
                <tr>
                    <td>Commercial Sales Practice<span class="required"> *</span></td>
                    <td>
                        Incomplete
                    </td>
                    <td class="tbl-button"></td>
                    <td class="tbl-button"></td>
                    <td class="tbl-button"><a class="btn btn-primary btn-sm" title="Respond to Input"
                            href="https://eoffer-test.fas.gsa.gov/eOffer/offerSolClauseAction.do?type=commercialsalespractice&amp;method=view">
                            Respond
                        </a></td>
                </tr>
                <tr>
                    <td>
                        Point of Contacts Information<span class="required"> *</span></td>
                    <td>
                        Incomplete
                    </td>
                    <td></td>
                    <td></td>
                    <td class="tbl-button"><a class="btn btn-primary btn-sm" title="Respond to Input"
                            href="https://eoffer-test.fas.gsa.gov/eOffer/offerSolClauseAction.do?method=view&amp;type=pocInfo">Respond</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Ordering Information<span class="required"> *</span></td>
                    <td>
                        Incomplete
                    </td>
                    <td></td>
                    <td></td>
                    <td class="tbl-button"><a class="btn btn-primary btn-sm" title="Respond to Input"
                            href="https://eoffer-test.fas.gsa.gov/eOffer/offerSolClauseAction.do?method=view&amp;type=orderInfo">Respond</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</ng-template>


<!-- Actions-->
<ng-template #sectionActions>

    <app-modal *ngIf="offerStatus == 'In Progress'" 
    [config]="{ modalTitle: sectionData.name, showDefaultOpenButton: true, defaultOpenButtonLabel: 'Edit', showDefaultCloseButton: false, modalSize: 'xl' }">
        <ng-template #modalBody>
            <ng-container [ngTemplateOutlet]="editSection"></ng-container>
        </ng-template>
        <ng-template #modalFooter>
            <input type="button" value="Save and Continue" id="saveAndContinue" class="btn btn-primary" (click)="saveForm()">
            <input type="button" value="Cancel" id="cancel" class="btn btn-default" (click)="closeModal()">
        </ng-template>
    </app-modal>

    <span *ngIf="offerStatus == 'Awarded'" class="btn-group" dropdown>
        <button id="button-manage" dropdownToggle type="button" class="btn btn-default btn-lg dropdown-toggle p-1 m-0"
            aria-controls="dropdown-manage">
            <span class="gsa-light-blue">Actions</span>
            <span class="caret"></span>
        </button>
        <ul id="dropdown-manage" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item">Create New Modification</a></li>
            <li role="menuitem"><a class="dropdown-item">View Modification History</a></li>
            <li role="menuitem"><a class="dropdown-item">Show Clarification History</a></li> 
        <!-- <li role="menuitem"><a class="dropdown-item">Lookup Tables</a></li>  -->
        </ul>
    </span>

</ng-template>