<div class="row m-0">
  <div class="col-lg-8 col-md-7 p-0">

    <div class="bg-gsa-light-blue" style=" height: 100%;">
      <div class="container-fluid px-5 py-5">
        <h3 class="white">Contract offers and modifications made easy.</h3>
        <p class="white">
          The purpose of eOffer is to create an interactive, secure electronic environment that simplifies the contracting process from submission of offers to awards. eOffer enables a seamless transmission of data from the industry community to the FAS contracting offices. In addition, eMod streamlines and expedites the modification process and creates an electronic modification for the contract file.
        </p>
        <h5 class="white">
          New to eOffer & eMod?
        </h5>
        <p class="white">
          Get strated today by reqistering for an account.
        </p>
        <a href="#" class="btn btn-lg btn-outline-light">Register for an account</a>
      </div>
       
    </div>
  </div>
  <div class="col-lg-4 col-md-5 p-0 bg-gsa-warm-grey-2">
    
      <img src="assets/images/content-art/home-img.jpg" class="img-responsive">
    
  </div>
</div>

<section class="bg-gsa-medium-blue toolbox-img" >

  
  <div class="container-fluid px-5  ">
   

      
    <h3 class="white font-weight-bold pb-3 pt-4">Contract Toolbox <small class="font-weight-light ml-4">Everything you need for ...</small></h3>
    
 
   
 
        

        <div class="row justify-content-lg-center h-100 pb-4">
          <div class="col-sm-12 col-lg pt-3 border-right pl-4 ">
            <div class="mb-3 h-100">  
              <h4 class="white"><div class="fal fa-file-signature" style="width: 2.4rem;"></div> Contract Offers</h4>
              <p class="ml-5">Prepare, Submit, or Update an eOffer</p>
              <a href="#" class="btn btn-lg btn-dark ml-5">Get Started</a>
              <ul class="list-unstyled ml-5 d-none">
                <li><a routerLink="/app-understanding-contracts" class="white">Understanding GSA Contracts</a></li>
                  <li><a routerLink="/app-where-to-begin" class="white">Where To Begin</a></li>
                  <li><a routerLink="/app-education" class="white">Education</a></li>
                  
              </ul>
            </div>
          </div>

          <div class="col-sm-12 col-lg pt-3 pl-4 border-right  ">
            <div class="mb-3 h-100">  
              <h4 class="white"><span class="fal fa-file-contract" style="width: 2.4rem;"></span> Contract Modifications</h4>
              <p class="ml-5">Prepare, Submit, and Correct a Modification Request</p>
              <a href="#" class="btn btn-lg btn-dark ml-5">Get Started</a>
              <ul class="list-unstyled ml-5 d-none">
                <li><a href="" class="white">Reporting My Sales</a></li>
                <li><a href="" class="white">Sales Analysis</a></li>
                
              </ul>
            </div>
          </div>

          
          <div class="col-sm-12 col-lg pt-3 pl-4 ">
            <div class="mb-3 h-100">  
              <h4 class="white"><div class="fal fa-file-invoice-dollar" style="width: 2.4rem;"></div> Sales Reporting</h4>
              <p class="ml-5">Federal Acquisition Service (FAS) Sales Reporting Portal (SRP) </p>
              <a href="#" class="btn btn-lg btn-dark ml-5">Report Now</a>
              <ul class="list-unstyled ml-5 d-none">
                <li><a href="" class="white">GSA Advantage</a></li>
                <li><a href="" class="white">Contract Compliance</a></li>
                <li><a href="" class="white">Market Research</a></li>
                <li><a routerLink="/app-lookup-tables" class="white">Lookup Tables</a></li>
              </ul>
            </div>
          </div>
          
        </div>

     
    
  </div>  
</section>



<!-- - - - - - - - - - - - -  -->


<!--
<div class="row m-0">
  <div class="col-lg p-0">

    <div class="bg-gsa-light-blue" style=" height: 100%;">
      <div class="container-fluid px-5 py-5">
        <h3 class="white">Contract offers and modifications made easy.</h3>
        <p class="white">
          The purpose of eOffer is to create an interactive, secure electronic environment that simplifies the contracting process from submission of offers to awards. eOffer enables a seamless transmission of data from the industry community to the FAS contracting offices. In addition, eMod streamlines and expedites the modification process and creates an electronic modification for the contract file.
        </p>
        <h5 class="white">
          New to eOffer & eMod?
        </h5>
        <p class="white">
          Get strated today by reqistering for an account.
        </p>
        <a href="#" class="btn btn-lg btn-primary">Register for an account</a>
      </div>
       
    </div>
  </div>

</div>
<div class="row m-0">
  <div class="col-lg-8 col-md-7 p-0 bg-gsa-medium-blue toolbox-img">
    
    <div class="row justify-content-lg-center h-100 px-5 py-3">
      <div class="col-sm-12 col-lg pt-3  border-right pl-4 ">
        <div class="mb-3 h-100">  
        <h4 class="white"><div class="fal fa-file-signature" style="width: 2.4rem;"></div>  Contract Offers</h4>
        <p>Electronically prepare and submit a MAS offer to the Federal Acquisition Service (FAS).</p>
        <a href="#" class="btn btn-warning">Prepare an Offer</a>
        </div>
      </div>
      <div class="col-sm-12 col-lg pt-3 border-right  pl-4 ">
        <div class="mb-3 h-100">  
        <h4 class="white"><div class="fal fa-file-contract" style="width: 2.4rem;"></div> Contract Modifications</h4>
        <p>Create an electronic modification for the contract file</p>
        <a href="#" class="btn btn-warning">Submit a Modification</a>
        </div>
      </div>
      <div class="col-sm-12 col-lg pt-3  pl-4 ">
        <div class="mb-3 h-100">  
        <h4 class="white"><div class="fal fa-file-contract" style="width: 2.4rem;"></div> Report Sales</h4>
        <p>Create an electronic modification for the contract file</p>
        <a href="#" class="btn btn-warning">Submit a Modification</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-5 p-0 bg-gsa-medium-blue">
    <div class="bg-gsa-medium-blue" >
      <img src="assets/images/content-art/home-img.jpg" class="img-responsive">
    </div>
  </div>
</div>


-->




<!-- - - - -- - - - -- - - --- - - - -->

<!-- - - - - - - - - - - - - - - - - - - --->
<!--
<div class="row m-0">
  <div class="col-lg-8 col-md-7 p-0">

    <div class="bg-gsa-light-blue" style=" height: 100%;">
      <div class="container-fluid px-5 py-5">
        <h3 class="white">Contract offers and modifications made easy.</h3>
        <p class="white">
          The purpose of eOffer is to create an interactive, secure electronic environment that simplifies the contracting process from submission of offers to awards. eOffer enables a seamless transmission of data from the industry community to the FAS contracting offices. In addition, eMod streamlines and expedites the modification process and creates an electronic modification for the contract file.
        </p>
        <h5 class="white">
          New to eOffer & eMod?
        </h5>
        <p class="white">
          Get strated today by reqistering for an account.
        </p>
        <a href="#" class="btn btn-lg btn-primary">Register for an account</a>
      </div>
       
    </div>
  </div>
  <div class="col-lg-4 col-md-5 p-0 bg-gsa-warm-grey-2">
    
      <img src="assets/images/content-art/home-img.jpg" class="img-responsive">
    
  </div>
</div>

<section class="bg-gsa-medium-blue toolbox-img" style="min-height: 400px;">

  
  <div class="container-fluid px-5 py-5">
   

      
    <h2 class="white font-weight-bold">Contract Toolbox</h2>
    
 
   
    <div class="row">


      <div class="col-lg-12 col-xl-3 pt-3 ">
        <div class="mb-3 pr-1 ">  
          
          <h2 class="white">I want to...</h2>
          <p class="white">
            eOffer/eMod is a tool to submit Contract Offers and Contract Modification requests to GSA Federal Acquisition Service online. 
          </p>
        </div>
      </div>
      <div class="col-lg-12 col-xl-9" >
        

        <div class="row justify-content-lg-center h-100">
          <div class="col-sm-12 col-lg pt-3 border-left border-right pl-4 ">
            <div class="mb-3 h-100">  
              <h4 class="white"><div class="fal fa-file-signature" style="width: 2.4rem;"></div> Prepare</h4>
              <ul class="list-unstyled ml-5">
                <li><a routerLink="/app-understanding-contracts" class="white">Understanding GSA Contracts</a></li>
                  <li><a routerLink="/app-where-to-begin" class="white">Where To Begin</a></li>
                  <li><a routerLink="/app-education" class="white">Education</a></li>
                  
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg pt-3 border-right pl-4 ">
            <div class="mb-3 h-100">  
              <h4 class="white"><div class="fal fa-file-contract" style="width: 2.4rem;"></div> Submit</h4>
              <ul class="list-unstyled ml-5">
                <li><a href="" class="white">GSA Advantage</a></li>
                <li><a href="" class="white">Contract Compliance</a></li>
                <li><a href="" class="white">Market Research</a></li>
                <li><a routerLink="/app-lookup-tables" class="white">Lookup Tables</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg pt-3 pl-4  ">
            <div class="mb-3 h-100">  
              <h4 class="white"><span class="fal fa-file-invoice-dollar" style="width: 2.4rem;"></span> Update/Correct</h4>
              <ul class="list-unstyled ml-5">
                <li><a href="" class="white">Reporting My Sales</a></li>
                <li><a href="" class="white">Sales Analysis</a></li>
                
              </ul>
            </div>
          </div>
        </div>

      </div>


    </div>
    
  </div>  
</section>
-->

