<app-form-card [sectionState]="sectionData" [sectionStatus]="sectionData.sectionStatus" *ngIf="sectionData.showSection">
    <ng-template #formCardActions>
        <ng-container [ngTemplateOutlet]="sectionActions"></ng-container>
    </ng-template>
    <ng-template #formCardBody>
        <ng-container [ngTemplateOutlet]="readonlySection"></ng-container>
    </ng-template>
</app-form-card>


<!-- Readonly Section -->
<ng-template #readonlySection>
    <form id="availableOfferings">


        <div class="col">
            <h2 class="h4 border-bottom mb-3" id="yournegs">Your SIN(s)</h2>
        </div>

        <div class="row">
            <div class="col-11">
                <div class="row">
                    <div class="col-md-3">
                        <dt class="col">Number:</dt>
                        <dd class="col mb-0">54151HEAL</dd>
                    </div>
                    <div class="col-md-3">
                        <dt class="col">Title:</dt>
                        <dd class="col mb-0">Health Information Technology Services</dd>
                    </div>
                    <div class="col-md-3">
                        <dt class="col">Large Category:</dt>
                        <dd class="col mb-0">Information Technology</dd>
                    </div>
                    <div class="col-md-3">
                        <dt class="col">Subcategory:</dt>
                        <dd class="col mb-0">IT Services</dd>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-default btn-sm text-muted bg-primary-hover" (click)="openModal()">
                    <span class="fa fa-pencil"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm text-muted bg-danger-hover">
                    <span class="fa fa-trash"></span>
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-11">
                <div class="row">
                    <div class="col-md-3">
                        <dt class="col">Number:</dt>
                        <dd class="col mb-0">54151HEAL</dd>
                    </div>
                    <div class="col-md-3">
                        <dt class="col">Title:</dt>
                        <dd class="col mb-0">Health Information Technology Services</dd>
                    </div>
                    <div class="col-md-3">
                        <dt class="col">Large Category:</dt>
                        <dd class="col mb-0">Information Technology</dd>
                    </div>
                    <div class="col-md-3">
                        <dt class="col">Subcategory:</dt>
                        <dd class="col mb-0">IT Services</dd>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-default btn-sm text-muted bg-primary-hover" (click)="openModal()">
                    <span class="fa fa-pencil"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm text-muted bg-danger-hover">
                    <span class="fa fa-trash"></span>
                </button>
            </div>
        </div>  

        <hr>           
        <div class="col mt-4 d-flex justify-content-center"> 
            <button type="button" class="btn btn-primary btn-sm" (click)="openModal()">
                <span class="fa fa-plus mr-2"></span>
                Add SIN
            </button>
        </div>

        <div class="col mb-3 mt-5">
            <div class="col border-bottom p-0">                
                <div class="row">

                    <div class="col-10">
                        <h2 class="h4" id="yournegs">Preponderance of Work</h2>
                    </div>

                    <div class="col-2 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary btn-sm" (click)="openModal()">
                            <span class="fa fa-pencil mr-2"></span>
                            Edit
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <dt class="col">Selected Preponderance Of Work is:</dt>
            <dd class="col">541511</dd>
        </div>

    </form>
</ng-template>


<!-- Readonly Section -->
<ng-template #editSection>
    <form id="availableOfferings">

        <div class="usa-alert usa-alert-warning mb-4">
            <div class="usa-alert-body">
                <p>                    
                    <b class="black">What goods and services do you provide?</b>
                </p>
                <p>
                    GSA assigns all available offerings to large categories, subcategories, and Special Item Numbers
                    (SINs).
                </p>
                <p>
                    You must add at least one large category, subcategory, and SIN and you may only add one at a time. For a full list of
                    available offerings, please visit the <a target="_blank" title="MAS Roadmap" href="https://www.gsa.gov/masroadmap">MAS Roadmap</a>.
                </p>
            </div>
        </div>

        <div class="container">             
            <div class="row mb-3">
                <div class="col-md-2 d-flex justify-content-end">   
                    <label for="largeCategory">Large Categrory:</label>
                </div>
                <div class="col-md-10">
                    <select aria-required="true" class="form-control col-md-8" name="largeCategory" id="largeCategory">
                        <option value="">Select a Large Category</option>
                        <option value="B">Facilities</option>
                        <option value="C">Furniture and Furnishings</option>
                        <option value="D">Human Capital</option>
                        <option value="E">Industrial Products and Services</option>
                        <option value="F">Information Technology</option>
                        <option value="G">Miscellaneous</option>
                        <option value="A">Office Management</option>
                        <option value="H">Professional Services</option>
                        <option value="I">Scientific Management and Solutions</option>
                        <option value="J">Security and Protection</option>
                        <option value="K">Transportation and Logistics Services</option>
                        <option value="L">Travel</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 d-flex justify-content-end">   
                    <label for="subCategory">Subcategory:</label>
                </div>
                <div class="col-md-10">
                    <select aria-required="true" class="form-control col-md-8" name="subCategory" id="subCategory">
                        <option value="">Select a Subcategory</option>
                        <option value="B">Facilities</option>
                        <option value="C">Furniture and Furnishings</option>
                        <option value="D">Human Capital</option>
                        <option value="E">Industrial Products and Services</option>
                        <option value="F">Information Technology</option>
                        <option value="G">Miscellaneous</option>
                        <option value="A">Office Management</option>
                        <option value="H">Professional Services</option>
                        <option value="I">Scientific Management and Solutions</option>
                        <option value="J">Security and Protection</option>
                        <option value="K">Transportation and Logistics Services</option>
                        <option value="L">Travel</option>
                    </select>
                </div>
            </div>              
            <div class="row mb-3">
                <div class="col-md-2 d-flex justify-content-end">   
                    <label for="sin">SIN:</label>
                </div>
                <div class="col-md-10">
                    <select aria-required="true" class="form-control col-md-8" name="sin" id="sin">
                        <option value="">Select a SIN</option>
                        <option value="B">Facilities</option>
                        <option value="C">Furniture and Furnishings</option>
                        <option value="D">Human Capital</option>
                        <option value="E">Industrial Products and Services</option>
                        <option value="F">Information Technology</option>
                        <option value="G">Miscellaneous</option>
                        <option value="A">Office Management</option>
                        <option value="H">Professional Services</option>
                        <option value="I">Scientific Management and Solutions</option>
                        <option value="J">Security and Protection</option>
                        <option value="K">Transportation and Logistics Services</option>
                        <option value="L">Travel</option>
                    </select>
                </div>
            </div>
        </div>

<!-- 

        <h4 id="addsins" class="visually-hidden">Add SINs</h4>
        <p>You must add at least one large category, subcategory, and SIN and you may only add one at a time. For a
            full
            list of available offerings, please visit the <a target="_blank" title="MAS Roadmap"
                href="https://www.gsa.gov/masroadmap">MAS Roadmap</a>.</p>
        <div class="table2">
            <table role="presentation" class="table table-responsive table-bordered table-striped" width="100%"
                aria-labelledby="addsins" id="addSIN">
                <tbody>
                    <tr>
                        <td aria-hidden="true" class="fakeTh" width="70%">Add SIN(s)<span class="required"> *</span>
                        </td>
                        <td aria-hidden="true" class="fakeTh" width="30%">Action</td>
                    </tr>
                    <tr>
                        <td><label for="largeCategoryId">Large Category: </label>
                            <select style="max-width:400px"
                                aria-required="true" class="d-control samesize" name="largeCategory"
                                id="largeCategoryId">
                                <option value="">Select a Large Category</option>
                                <option value="B">Facilities</option>
                                <option value="C">Furniture and Furnishings</option>
                                <option value="D">Human Capital</option>
                                <option value="E">Industrial Products and Services</option>
                                <option value="F">Information Technology</option>
                                <option value="G">Miscellaneous</option>
                                <option value="A">Office Management</option>
                                <option value="H">Professional Services</option>
                                <option value="I">Scientific Management and Solutions</option>
                                <option value="J">Security and Protection</option>
                                <option value="K">Transportation and Logistics Services</option>
                                <option value="L">Travel</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="subCategoryId">Subcategory: </label> <select style="max-width:400px"
                                aria-required="true" class="d-control samesize" name="subCategory" id="subCategoryId">
                                <option value="">Select a Subcategory</option>
                            </select></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="sintypeId">SIN :</label><select style="max-width:400px" aria-required="true"
                                class="d-control samesize" aria-label="Select SINs" name="sintype" id="sintypeId">
                                <option value="">Select a SIN</option>
                            </select></td>
                        <td><input id="idAddSin" class="btn btn-primary btn-sm" value="Add SIN Details" name="sinType"
                                type="Submit"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table2">
            <h4 id="yoursin" class="type1">Your SIN(s)</h4>
            <table aria-labelledby="yoursin" class="table table-responsive table-bordered table-striped buttonsTable"
                id="yourSINs">
                <thead>
                    <tr class="columnTitleFill">
                        <th width="10%">Number</th>
                        <th width="25%" scope="col">Title</th>
                        <th width="25%" scope="col">Large Category</th>
                        <th width="20%" scope="col">Subcategory</th>
                        <th width="10%" scope="col">Edit</th>
                        <th width="10%" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>54151HEAL</td>
                        <td>Health Information Technology Services</td>
                        <td>Information Technology</td>
                        <td>IT Services</td>
                        <td class="tbl-button"><a class="btn btn-primary btn-sm"
                                title="Edit 54151HEAL Health Information Technology Services SINs"
                                href="https://eoffer-test.fas.gsa.gov/eOffer/offerSinTypeAction.do?method=edit&amp;sintype=54151HEAL">Edit</a>
                        </td>
                        <td class="tbl-button"><a class="btn btn-primary btn-sm"
                                title="Delete 54151HEAL Health Information Technology Services SINs"
                                href="https://eoffer-test.fas.gsa.gov/eOffer/deleteAction.do?method=delete&amp;source=deleteSin&amp;deleteSinType=54151HEAL">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table2">
            <h4 style="border-top: 5px solid grey;"></h4>
        </div>
        <div class="table2">
            <h4 id="prework" class="type1">Preponderance Of Work</h4>
            <p>Please complete the 'Preponderance of Work' section only after you have completed adding all
                offerings to
                your offer. The information below will populate based on the offerings you selected above. Offerors
                must
                choose one preponderance of work large category, subcategory, SIN and NAICS for the offer as a
                whole.</p>
            <table role="presentation" aria-labelledby="prework"
                class="table table-responsive table-bordered table-striped" id="prepWork">
                <tbody>
                    <tr>
                        <td colspan="2" aria-hidden="true" class="fakeTh" width="100%">
                            Select Preponderance of Work
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="70%"><label for="selectedLargeCategoryId">Large Category:</label><select size="1"
                                id="selectedLargeCategoryId" class="d-control" aria-required="true"
                                name="selectedLargeCategory">
                                <option value="">Select a Large Category</option>
                                <option value="F">Information Technology</option>
                            </select></td>
                        <td width="30%"></td>
                    </tr>
                    <tr border="0">
                        <td><label for="selectedSubcategoryId">Subcategory:</label><select size="1"
                                id="selectedSubcategoryId" class="d-control" aria-required="true"
                                name="selectedSubcategory">
                                <option value="">Select a Subcategory</option>
                                <option value="F03">IT Services</option>
                            </select></td>
                        <td></td>
                    </tr>
                    <tr border="0">
                        <td><label for="selectedSinId">SIN:</label><select style="max-width:400px" size="1"
                                id="selectedSinId" class="d-control" aria-required="true" name="selectedSin">
                                <option value="">Select a SIN</option>
                                <option value="54151HEAL">54151HEAL Health Information Technology Services</option>
                            </select></td>
                        <td></td>
                    </tr>
                    <tr border="0">
                        <td><label for="preponderanceOfWorkId">Vendor proposed preponderance of work:<span
                                    class="required">&nbsp;*&nbsp;</span></label><select size="1"
                                id="preponderanceOfWorkId" class="d-control" aria-required="true"
                                name="PreponderanceOfWork">
                                <option value="">Select NAICS</option>
                                <option value="541511">541511</option>
                                <option value="541512">541512</option>
                                <option value="541513">541513</option>
                                <option value="541519">541519</option>
                            </select></td>
                        <td width="30%"><input id="idPreponEdit" class="btn btn-primary btn-sm"
                                value="Edit Preponderance of Work" name="sinTypeAction" type="Submit"></td>
                    </tr>
                    <tr>
                        <td nowrap="yes" colspan="2">Selected Preponderance Of Work is:&nbsp;541511</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        
    </form>
</ng-template>


<!-- Actions-->
<ng-template #sectionActions>

    <app-modal *ngIf="offerStatus == 'In Progress'"
        [config]="{ modalTitle: sectionData.name, showDefaultOpenButton: true, defaultOpenButtonLabel: 'Edit', showDefaultCloseButton: false, modalSize: 'xl' }">
        <ng-template #modalBody>
            <ng-container [ngTemplateOutlet]="editSection"></ng-container>
        </ng-template>
        <ng-template #modalFooter>
            <input type="button" value="Save and Continue" id="saveAndContinue" class="btn btn-primary"
                (click)="saveForm()">
            <input type="button" value="Cancel" id="cancel" class="btn btn-default" (click)="closeModal()">
        </ng-template>
    </app-modal>

    <span *ngIf="offerStatus == 'Awarded'" class="btn-group" dropdown>
        <button id="button-manage" dropdownToggle type="button" class="btn btn-default btn-lg dropdown-toggle p-1 m-0"
            aria-controls="dropdown-manage">
            <span class="gsa-light-blue">Actions</span>
            <span class="caret"></span>
        </button>
        <ul id="dropdown-manage" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item">Create New Modification</a></li>
            <li role="menuitem"><a class="dropdown-item">View Modification History</a></li>
            <li role="menuitem"><a class="dropdown-item">Show Clarification History</a></li>
            <!-- <li role="menuitem"><a class="dropdown-item">Lookup Tables</a></li>  -->
        </ul>
    </span>

</ng-template>