<app-form-card [sectionState]="sectionData" *ngIf="sectionData.showSection">
    <ng-template #formCardActions>
        <ng-container [ngTemplateOutlet]="sectionActions"></ng-container>
    </ng-template>
    <ng-template #formCardBody>
        <ng-container [ngTemplateOutlet]="readonlySection"></ng-container>
    </ng-template>
</app-form-card>


<!-- Readonly Section -->
<ng-template #readonlySection>
    <form id="negotiators">

        <div class="usa-alert usa-alert-info mb-4">
            <div class="usa-alert-body">
                <p><b class="black">Who will negotiate your eOffer?</b></p>
                <p align="justify">Offerors can add multiple negotiators. A minimum of one negotiator must have
                    signature
                    authority, but it is STRONGLY recommended to have at least two valid Negotiators.
                    Negotiators without signature authority may prepare the eOffer but only negotiators with signature
                    authority
                    may submit the eOffer and sign the Contract.
                </p>
            </div>
        </div>
        <div class="table2 px-5">
            <h4 class="type1" id="yournegs">Your Negotiator(s)</h4>
            <table id="negInfo" class="table table-responsive table-striped table-flush buttonsTable"
                aria-labelledby="yournegs">
                <thead>
                    <tr>
                        <th scope="col" width="40%">Name</th>
                        <th scope="col" width="40%">Role</th>



                       

                    </tr>
                </thead>
                <tbody>



                    <script language="JavaScript" type="text/javascript">< !--hide this script from non - javascript - enabled browsers
                        function preSelect(name, value) {
                            for (i = 0; i < name.length; i++) {
                                if (name[i].value == value) {
                                    name.selectedIndex = i;
                                    break;
                                }
                            }
                        }
// stop hiding -->

                    </script>
                    <tr>
                        <td>Luis Najera</td>
                        <td>Authorized to sign</td>
                        
                    </tr>

                </tbody>
            </table>
        </div>

    </form>
</ng-template>


<!-- Edit Section -->
<ng-template #editSection>
    <form id="negotiators">

        <div class="usa-alert usa-alert-info mb-4">
            <div class="usa-alert-body">
                <p><b class="black">Who will negotiate your eOffer?</b></p>
                <p align="justify">Offerors can add multiple negotiators. A minimum of one negotiator must have
                    signature
                    authority, but it is STRONGLY recommended to have at least two valid Negotiators.
                    Negotiators without signature authority may prepare the eOffer but only negotiators with signature
                    authority
                    may submit the eOffer and sign the Contract.
                </p>
            </div>
        </div>
        <div class="table2">
            <h4 class="type1" id="yournegs">Your Negotiator(s)</h4>
            <table id="negInfo" class="table table-responsive table-striped table-flush buttonsTable"
                aria-labelledby="yournegs">
                <thead>
                    <tr>
                        <th scope="col" width="40%">Name</th>
                        <th scope="col" width="40%">Role</th>



                        <th scope="col" width="10%">Edit</th>
                        <th scope="col" width="10%">Delete</th>

                    </tr>
                </thead>
                <tbody>



                    <script language="JavaScript" type="text/javascript">< !--hide this script from non - javascript - enabled browsers
                        function preSelect(name, value) {
                            for (i = 0; i < name.length; i++) {
                                if (name[i].value == value) {
                                    name.selectedIndex = i;
                                    break;
                                }
                            }
                        }
// stop hiding -->

                    </script>
                    <tr>
                        <td>Luis Najera</td>
                        <td>Authorized to sign</td>
                        <td class="tbl-button"><a title="Edit Negotiator Luis Najera Details"
                                href="https://eoffer-test.fas.gsa.gov/eOffer/offerNegotiatorAction.do?method=edit&amp;Type=editnegotiator&amp;negotiatorId=1"
                                class="btn btn-primary btn-sm">Edit</a></td>
                        <td class="tbl-button"><a title="Delete Negotiator Luis Najera Details"
                                href="https://eoffer-test.fas.gsa.gov/eOffer/deleteAction.do?method=delete&amp;source=negotiator&amp;negotiatorId=1"
                                class="btn btn-primary btn-sm">Delete</a></td>
                    </tr>

                </tbody>
            </table>
        </div>

    </form>
</ng-template>


<!-- Actions-->
<ng-template #sectionActions>

    <app-modal *ngIf="offerStatus == 'In Progress'" 
    [config]="{ modalTitle: sectionData.name, showDefaultOpenButton: true, defaultOpenButtonLabel: 'Edit', showDefaultCloseButton: false, modalSize: 'xl' }">
        <ng-template #modalBody>
            <ng-container [ngTemplateOutlet]="editSection"></ng-container>
        </ng-template>
        <ng-template #modalFooter>
            <input type="button" value="Save and Continue" id="saveAndContinue" class="btn btn-primary" (click)="saveForm()">
            <input type="button" value="Cancel" id="cancel" class="btn btn-default" (click)="closeModal()">
        </ng-template>
    </app-modal>

    <span *ngIf="offerStatus == 'Awarded'" class="btn-group" dropdown>
        <button id="button-manage" dropdownToggle type="button" class="btn btn-default btn-lg dropdown-toggle p-1 m-0"
            aria-controls="dropdown-manage">
            <span class="gsa-light-blue">Actions</span>
            <span class="caret"></span>
        </button>
        <ul id="dropdown-manage" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item">Create New Modification</a></li>
            <li role="menuitem"><a class="dropdown-item">View Modification History</a></li>
            <li role="menuitem"><a class="dropdown-item">Show Clarification History</a></li> 
        <!-- <li role="menuitem"><a class="dropdown-item">Lookup Tables</a></li>  -->
        </ul>
    </span>

</ng-template>