<!--  SEARCH BAR --> 
<app-search-bar></app-search-bar>


<!-- SEARCH HEADER TOOLBOX -->
<section class="bg-gsa-medium-blue toolbox2-img" >

  
  <div class="container-fluid px-5 pb-5 pt-3">
   
   	<!--
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent px-0">
        <li class="breadcrumb-item"><a href="javaScript:void(0)" routerlink="/app-home" routerlinkactive="active">Home</a></li>
        <li class="breadcrumb-item">Get a Contract</li>
        <li class="breadcrumb-item active" aria-current="page">Where to Begin</li>
      </ol>
    </nav>
	-->


    <div class="row">


      <div class="col-lg-12 col-xl-3 border-right">
        <div class="mb-3 pt-3">  
          
          <h2 class="white">
            <small class=" font-weight-light  gsa-xlight-blue"><div class="fal fa-file-signature"></div> Get a Contract</small>
            <br />
            <span class="font-weight-bold">Where to Begin</span>
          </h2>
          
          <div class="">
            <h5 class="gsa-xlight-blue">Related Topics:</h5>
            <ul class="list-unstyled">
              <li><a class="white" routerLink="/app-understanding-contracts">Understanding GSA Contracts</a></li>
              <li><a class="white" routerLink="/app-education">Education</a></li>
            </ul>
         </div>
        </div>
      </div>
      
      <div class="col-lg-12 col-xl-9 h-100">

        <div class="row justify-content-lg-center">
            <div class="col-sm-12 col-xl pt-3  pl-4 h-100">
              <div class="mb-3 ">  
                <h3 class="white"><div class="fal fa-list" style="width: 2.4rem;"></div> Topics Covered</h3>
                <ul class="list-unstyled ml-5">
                  <li><a href="/app-where-to-begin#masContract" class="white">Pursuing a MAS Contract</a></li>
                  <li><a href="/app-where-to-begin#research" class="white">Step 1 - Research</a></li> 
                  <li><a href="/app-where-to-begin#analyze" class="white">Step 2 - Analyze</a></li> 
                  <li><a href="/app-where-to-begin#decide" class="white">Step 3 - Decide</a></li> 
                </ul>
              </div>
            </div>
            
            <div class="col-sm-12 col-xl pt-3 pl-4 h-100 border-right border-left">
              <div class="mb-3">  
                <h3 class="white"><span class="fal fa-link" style="width: 2.4rem;"></span> Additional Links</h3>
                <ul class="list-unstyled ml-5">
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs" target="_blankhttps" target="_blankhttps" class="white">Purchasing Programs
                    </a> 
                  
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <div class="collapse" id="collapseExample">
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                  <li>
                    <a href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedules" class="white">
                    GSA Schedules
                    </a> 
                  </li>
                </div>
                  <a class="btn btn-outline-light pill btn-sm mt-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    View All
                  </a>
                </ul>

                
               



              </div>
            </div>

            <div class="col-sm-12 col-xl pt-3  pl-4 h-100">
              <div class="mb-3">  
                <h3 class="white"><div class="fal fa-file" style="width: 2.4rem;"></div> Related Documents</h3>
                <ul class="list-unstyled ml-5">
                  <li>No Documents</li>
                </ul>
              </div>
            </div>
        </div>        

        <div class="row justify-content-lg-center d-none">
          <div class="col-sm-12 col-xl pl-4 h-100">
            <div class="mb-3 ">  
              
              <h5 class=" gsa-xlight-blue font-weight-bold">Topics Covered</h5>
              <div class="row justify-content-lg-center">
                <div class="col-sm-12 col-xl pl-4 h-100">
                  <ul class="list-unstyled ml-4">
                    <li><a href="#federal-procurement" class="white">About Federal Procurement </a></li>
                    <li><a href="#contract-types" class="white">Types of Contracts </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-12 col-xl h-100 ">
            <div class="card border-gsa-xlight-blue bg-gsa-medium-blue shadow mb-3"> 
            <div class="card-header">
              <h5 class="white">Related Resources & Links</h5>
            </div> 
              <div class="px-4 py-3">
                <h5 class="gsa-xlight-blue">Documents</h5>
                <ul class="list-unstyled ">
                  <li><a href="" class="white">Reporting My Sales <small class="fal fa-external-link ml-3"></small></a></li>
                  <li><a href="" class="white">Sales Analysis </a></li>
                </ul>
                <h5 class="gsa-xlight-blue">Links</h5>
                <ul class="list-unstyled ">
                <li><a href="" class="white">Reporting My Sales <small class="fal fa-external-link ml-3"></small></a></li>
                <li><a href="" class="white">Sales Analysis </a></li>
              </ul>
            </div>
            </div>
          </div> 
        </div>

      </div>
      

    </div>
    
  </div>  
</section>

<section class="" style="min-height: 400px;">

  
  <div class="container-fluid px-5 py-4">

    <!-- PURSUING A CONTRACT -->
    <div class="row content-row border-bottom pb-3"  id="masContract">
      <div class="col-sm-12 col-lg-3 border-right">
        <div class="header-container sticky-top">  
          
          <h3 class="gsa-medium-blue" id="procurement"> Are you thinking about pursuing a GSA Multiple Award Schedule contract?</h3>
        </div>
      </div>

      <div class="col-lg-9 ">
        <div class="article-container">
          <p>The GSA Multiple Award Schedule (MAS) program, also known as Federal Supply Schedules or Schedule Program, is the premier contract vehicle for the federal government. The Schedule program is a long term governmentwide contract between commercial suppliers and the federal government.  Suppliers give federal, and in some cases state and local buyers (including tribal governments and some educational institutions), access to millions of commercial products and services at negotiated ceiling prices. Schedule purchases represent approximately 21 percent of overall federal procurement spending--approximately $42 Billion per year.</p>
          <p>Holding a MAS contract can open doors for businesses, but it requires effort and commitment on your part to succeed.</p>
          <p>To fully understand the Schedule requirements, you must identify which large categories, subcategories and SINs your products or services fall under.</p>
          <p>Information on getting started with GSA contracts and understanding the Solicitation can be found here.</p>
          <p>If you are interested in submitting an offer to be a Multiple Award Schedule (MAS) contractor under MAS solicitation 47QSMD20R0001, there are a few steps you must take to get ready - Research |  Analyze  |  Decide  </p>
        </div>
      </div>
    </div>
    <!-- STEP 1 - RESEARCH -->
    <div class="row content-row border-bottom pb-3"  id="research">
      	<div class="col-sm-12 col-lg-3 border-right">
	        <div class="header-container sticky-top">  
	          <h3 class="gsa-medium-blue" id="contract-types"> Step 1 - Research  </h3>
	          <h6 class="mt-4 text-muted text-uppercase">Additional Topics</h6>
	          <ul class="list-group list-group-flush">
	            <li class="list-group-item"><a href="/app-where-to-begin#taskOne" class="font-weight-bold">Task #1 - Pathway to Success</a></li>
	            <li class="list-group-item"><a href="/app-where-to-begin#taskTwo" class="font-weight-bold">Task #2 - Readiness Assessment</a></li>
	            <li class="list-group-item"><a href="/app-where-to-begin#taskThree" class="font-weight-bold">Task #3 - Identify NAICS and SINs</a></li>
	            
	          </ul>
	        </div>
      	</div>

  	    <div class="col-lg-9">
  	        <div class="article-container">        
  	          <p>Research is the first step in understanding GSA MAS contracts and how to identify solicitations most appropriate for your products and services. We have outlined three tasks we recommended you complete in order.</p>
  	        </div>
  	        <div class="article-container">
  	          <div class="article-group">
  	            <h4 id="taskOne" class="font-weight-bold gsa-light-blue section-title">Task #1 - Pathway to Success</h4>
  	            <p>A prerequisite for participation in the MAS Schedules Program is the successful completion of the Pathway to Success education seminar. Visit our Vendor Education Center. GSA requires that a company officer (e.g., Pres., VP, CEO, etc.) take the Pathways to Success training. Pathway to Success is designed to assist prospective GSA Schedule contractors in making informed business decisions as to whether obtaining a GSA Schedule contract is in their best interests. </p>
  	            <p>These courses will help you identify the Schedule contract that best fits your company’s product and service offerings. You’ll also learn what it takes to succeed in the Schedule Program.</p>
  	            <p>The presentation provides background information on the GSA Schedules Program and encompasses a variety of other topics, including:</p>
  	            <ul>
  		            <li>
  		                What are GSA's expectations for a vendor to become a successful Schedule contractor;
  		            </li>
  		            <li>
  		                How to compete and succeed as a GSA Schedule contractor in the government marketplace;
  		            </li>
  		            <li>How to develop a GSA Schedule-specific business plan; and How to submit a quality offer, the proposal submission process, and the GSA Schedule solicitation.
  					</li>
  	            </ul>
  	            <p>More on completing the “Pathways to Success” training can be found here.</p>
  	          </div>
  	        </div>
  	        <div class="article-container">
  	          <div class="article-group">
  	            <h4 id="taskTwo" class="font-weight-bold gsa-light-blue section-title">Task #2 - Readiness Assessment</h4>
  	            <p>
  	              The Readiness Assessment  tool, also mandatory for completion prior to submitting a proposal, will help you identify the solicitations most appropriate for your products and services. The "Readiness Assessment" training will also help ensure you’re ready to submit an offer under the right GSA Large Category, Subcategory and SINs.
  	            </p>
  	            <p>This training must be completed by a company officer (C-suite, President, Vice President, etc.). This training must be complete before you submit an offer.</p>
  	            <p>More on the Readiness Assessment training can be found here.</p>
  	            <p>It is recommended that you reference the information in “Step 2 - Analyze” as you complete the Readiness Assessment.</p>
  	          </div>
  	        </div>
  	        <div class="article-container">
  	          <div class="article-group">
  	            <h4 id="taskThree" class="font-weight-bold gsa-light-blue section-title">Task #3 - Identify NAICS and SINs</h4>
  	            <p>
  	              The Multiple Award Schedule (MAS or the Schedule) solicitation is broken into Large Categories, Subcategories, and Special Item Numbers (SINs) that have corresponding North American Industrial Classification Codes (NAICS).  The NAICS code classifies the business segment and determines the size standard for small business classification.  Agencies use these NAICS codes to fulfill their procurement needs, so it is very important your business is listed under the right sector.</p>
  	          
  	            <div class="article-list">
  	              <div class="article" id="gwac">
  	                <h5 id="special-programs" class="font-weight-bold">Identifying the NAICS codes that best describes your products and services;</h5>
  	                <p>
  	                  Using the free search tool at the NAICS Association website, research which NAICS codes are relevant to your businesses offerings. This is a very important part of the process since the NAICS code determines whether your company qualifies as a small business through the Small Business Act.
  	                </p>
  	              </div>
  	              <div class="article" id="global-supply">
  	                <h5 id="special-programs" class="font-weight-bold">Determining your Business Size using the NAICS Code</h5>
  	                <p>The Business Size standard is the largest that a concern can be and still qualify as a small business for Federal Government programs. This is used in every government solicitation and there is a portion of Federal contracting that is "set aside" for small businesses. Procurement officials can easily identify a company's area of specialization by their NAICs code.
  	                </p>
  	                <p>To view the current small business size standards, visit the Small Business Administration (SBA) Table of Size Standards page to look up NAICS codes.  The size standard, which is represented in either the number of employees or average annual receipts, represents the largest size that a business (including its subsidiaries and affiliates) may be to remain classified as a small business for SBA and federal contracting programs</p>
  	                <p>For example, the NAICS code 611430 shows that businesses with sales below $12M annually are considered a small business.</p>
  	              </div>
  	              <div class="article" id="fssi">
  	                <h5 id="special-programs" class="font-weight-bold">Determining the best Schedule and SIN(s) for your products and services</h5>
  	                <p>Once you have identified the appropriate NAICS codes, the next step is determining the matching Special Item Numbers under the MAS schedule. Using the 611430 example there are several possible SINs:
  	                </p>
  	                <ul>
  	                	<li>611430 - Professional and Management Development Training</li>
  	                	<li>611430TTS - Technical Training And Support (TTS)</li>
  	                	<li>61130ST - Security Training</li>
  	                	<li>611430TD - Talent Development</li>
  	                	<li>611TRAINAW - Defense Acquisition Workforce Improvement Act (DAWIA) and Federal Acquisition Certification in Contracting (FAC-C) Professional Development Training for Acquisition Workforce Personnel</li>
  	                </ul>
  	                <p>To see a complete list of all Special Item Numbers (SINs) and corresponding NAICS codes, view the MAS Available offerings table.</p>
  	              </div>
  	            </div>
  	          </div>
  	        </div>
  	    </div>
    </div>
    <!-- STEP 2 - ANALYZE -->
    <div class="row content-row border-bottom pb-3" id="analyze">
        <div class="col-sm-12 col-lg-3 border-right">
          <div class="header-container sticky-top">  
            <h3 class="gsa-medium-blue" id="contract-types"> Step 2 - Analyze  </h3>
            <h6 class="mt-4 text-muted text-uppercase">Additional Topics</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="/app-where-to-begin#StepTwoTaskOne" class="font-weight-bold">Task #1 - Assess Market</a></li>
              <li class="list-group-item"><a href="/app-where-to-begin#StepTwoTaskTwo" class="font-weight-bold">Task #2 - Learn Competition </a></li>
              <li class="list-group-item"><a href="/app-where-to-begin#StepTwoTaskThree" class="font-weight-bold">Task #3 - Identify Bid Opportunities</a></li>
              
            </ul>
          </div>
        </div>

        <div class="col-lg-9">
            <div class="article-container">        
              <p>Analyzing the market, your competitors, and bid opportunities is the next step in deciding if you should submit an offer for a Schedule contract.</p>
            </div>
            <div class="article-container">
              <div class="article-group">
                <h4 id="StepTwoTaskOne" class="font-weight-bold gsa-light-blue section-title">Task #1 - Assess Market</h4>
                <p>Analysis of the market is essential in determining the competitiveness of your offerings. All of We recommend researching the areas listed below to help you decide on whether a GSA Schedule is advantageous for your organization. </p>
                <ul>
                  <li>Identify the total number of contracts reporting sales;</li>
                  <li>Identify the total number of contracts reporting no sales;</li>
                  <li>Determine total annual reported sales;</li>
                  <li>Compute the average reported sales per contract; </li>
                  <li>Determine whether the demand for products and services is growing or shrinking.</li>
                </ul>
                <h5 class="font-weight-bold">Tools</h5>
                <ul>
                  <li>USASpending.gov - obtain data on annual Federal spending</li>
                  <li>beta.SAM.gov Contract Data - use this site to search public award data to find competitive information and build your business pipelines.</li>
                </ul>
                <p>Note - GSA contracts also are required to meet minimum sales requirements as laid out in I-FSS-639 Contract Sales Criteria shown below.</p>
                <h5 class="font-weight-bold">I-FSS-639 CONTRACT SALES CRITERIA (MAR 2002) FSS A/L FC-98-8</h5>
                <p>(a) A contract will not be awarded unless anticipated sales are expected to exceed $25,000 within the first 24 months following contract award, and are expected to exceed $25,000 in sales each 12-month period thereafter.</p>
                <p>(b) The Government may cancel the contract in accordance with clause 552.238-73, Cancellation, unless reported sales are at the levels specified in paragraph (a) above</p>
              </div>
            </div>
            <div class="article-container">
              <div class="article-group">
                <h4 id="StepTwoTaskTwo" class="font-weight-bold gsa-light-blue section-title">Task #2 - Learn Competition Assessment</h4>
                <p></p>
              </div>
            </div>
            <div class="article-container">
              <div class="article-group">
                <h4 id="StepTwoTaskThree" class="font-weight-bold gsa-light-blue section-title">Task #3 - Identify Bid Opportunities</h4>
                <p></p>
              
                <div class="article-list">
                  <div class="article" id="gwac">
                    <h5 id="special-programs" class="font-weight-bold">Identifying the NAICS codes that best describes your products and services;</h5>
                    <p>
                      Using the free search tool at the NAICS Association website, research which NAICS codes are relevant to your businesses offerings. This is a very important part of the process since the NAICS code determines whether your company qualifies as a small business through the Small Business Act.
                    </p>
                  </div>
                  <div class="article" id="global-supply">
                    <h5 id="special-programs" class="font-weight-bold">Determining your Business Size using the NAICS Code</h5>
                    <p>The Business Size standard is the largest that a concern can be and still qualify as a small business for Federal Government programs. This is used in every government solicitation and there is a portion of Federal contracting that is "set aside" for small businesses. Procurement officials can easily identify a company's area of specialization by their NAICs code.
                    </p>
                    <p>To view the current small business size standards, visit the Small Business Administration (SBA) Table of Size Standards page to look up NAICS codes.  The size standard, which is represented in either the number of employees or average annual receipts, represents the largest size that a business (including its subsidiaries and affiliates) may be to remain classified as a small business for SBA and federal contracting programs</p>
                    <p>For example, the NAICS code 611430 shows that businesses with sales below $12M annually are considered a small business.</p>
                  </div>
                  <div class="article" id="fssi">
                    <h5 id="special-programs" class="font-weight-bold">Determining the best Schedule and SIN(s) for your products and services</h5>
                    <p>Once you have identified the appropriate NAICS codes, the next step is determining the matching Special Item Numbers under the MAS schedule. Using the 611430 example there are several possible SINs:
                    </p>
                    <ul>
                      <li>611430 - Professional and Management Development Training</li>
                      <li>611430TTS - Technical Training And Support (TTS)</li>
                      <li>61130ST - Security Training</li>
                      <li>611430TD - Talent Development</li>
                      <li>611TRAINAW - Defense Acquisition Workforce Improvement Act (DAWIA) and Federal Acquisition Certification in Contracting (FAC-C) Professional Development Training for Acquisition Workforce Personnel</li>
                    </ul>
                    <p>To see a complete list of all Special Item Numbers (SINs) and corresponding NAICS codes, view the MAS Available offerings table.</p>
                  </div>
                </div>

                
              </div>
            </div>
        </div>
    </div>
    <!-- STEP 3 - DECIDE -->
    <div class="row content-row border-bottom pb-3" id="decide">
        <div class="col-sm-12 col-lg-3 border-right">
          <div class="header-container sticky-top">  
            <h3 class="gsa-medium-blue" id="contract-types"> Step 3 - Decide  </h3>
            <!--
            <h6 class="mt-4 text-muted text-uppercase">Additional Topics</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="/app-where-to-begin#StepTwoTaskOne" class="font-weight-bold">Task #1 - Assess Market</a></li>
              <li class="list-group-item"><a href="/app-where-to-begin#StepTwoTaskTwo" class="font-weight-bold">Task #2 - Learn Competition </a></li>
              <li class="list-group-item"><a href="/app-where-to-begin#StepTwoTaskThree" class="font-weight-bold">Task #3 - Identify Bid Opportunities</a></li>
            </ul>
            -->
          </div>
        </div>

        <div class="col-lg-9">
            <div class="article-container">        
              <p>Now that you have completed the previous two steps (Research | Analysis),the next step is deciding on whether to submit a proposal for a GSA MAS contract.</p>
              <p>Before you decide, review these additional factors to take into consideration when deciding to submit a proposal:
              </p>
              <ul>
                <li>Should you seek opportunities as a subcontractor; rather than a prime to get Government contracting experience?</li>
                <li>Do you need a Schedule contract to pursue future subcontract opportunities?Do potential customers you identified use the GSA Multiple Award Schedule (MAS)? If not, can you convince them to use them?</li>
                <li>Do customers favor your products and services over the competition?</li>
                <li>How can you differentiate your company from other competition on the SINs where you want to make a proposal?</li>
              </ul>
            </div>
            
        </div>
    </div>


  </div>
	 
</section>


<!-- SUCCESS FACTORS -->
<section class="section bg-gsa-light-grey d-none   ">
    <div class="container-fluid view-control py-5">
        <div class="row">
          <div class="col-sm-5 col-md-3 pt-3">
            <h2 class="text-left font-weight-bold">GSA Contracting Success Factors<br><small></small></h2>
          </div>
          <div class="col-sm-7 col-md py-5">
            <ul class="list-unstyled">
          <li>
            <div class="fal fa-trophy d-inline-block" style="margin-left: -7px;"></div> &nbsp;<strong>Research shows that the following factors will increase your probability of success as a GSA MAS contractor:</strong>
            <ul class="mb-5">
              <li>2 years of experience in federal contracting either as a prime or subcontractor;</li>
              <li>Contacts and relationships within the federal contracting community;</li>
              <li>Working with a mentor who is a successful GSA MAS contractor;</li>
              <li>Attending GSA seminars and workshops on contracting; and</li>
              <li>Investing between $80K-$130K to find and manage your initial government contract.</li>
            </ul>
          </li>
          <li>
            <div class="fal fa-trophy d-inline-block" style="margin-left: -7px;"></div>  &nbsp;<strong>GSA MAS in Figures:</strong>
            <ul class="mb-5">
              <li>More than $30B flows through MAS each year</li>
              <li>Includes over 17,000 contracts with industry suppliers (FY18)</li>
              <li>Over 38% of FY18 sales went to small businesses</li>
              <li>Over 80% of GSA MAS contracts consistently go to small businesses (FY15-FY18)</li>
            </ul>
          </li>
          <li>
            <div class="fal fa-trophy d-inline-block" style="margin-left: -7px;"></div>  &nbsp;<strong>The Challenges:</strong>
          <ul class="mb-5">
              <li>Competing for and winning Government contracts is costly in both time and resources;</li>
              <li>Not all Government agencies use GSA MAS contracts for their procurement; and</li>
              <li>Allocating time, money, other resources and a willingness to stay the course is needed to be successful.</li>
            </ul>
          </li>
        </ul>
          </div>

        </div>


 
    </div>
</section>
